{% extends 'master.html' %}

{% block title %}DunnoRPG - Login{% endblock %}

{% block content %}
<div class="text-center mt-3">
  <h1 class="c-gold txt-shadow">Login</h1>
  
    <form class="f-size-150 mt-5 card-body" method="post">
      {% csrf_token %}
        {{ form.as_p }}
          <input class="btn btn-success btn-lg" type="submit" value="Submit">
    </form>

    <p class="c-gold txt-shadow fw-bold mg-top-5">Or maybe you don't have an account?</p>
    <a href="{% url 'signup' %}" class="btn btn-primary btn-lg home-btn">Sign Up</a><br>
    <a href="{% url 'home' %}" class="btn btn-dark btn-outline-warning home-btn"><- Back   home</a>

</div>
{% endblock %}