{% extends 'master.html' %}

{% block title %}Add Character{% endblock title %}

{% block content %}

{% include 'dunnorpg/messages.html' %}
<div class='container mt-2'>
    <div class='row'>
        <div class='col-1 c-gold'>
            <a class='btn btn-dark btn-outline-danger' href={% url 'home' %}>Back</a>
        </div>
        <div class='col c-gold text-center'>
            <h1 class='txt-shadow fst-italic'><span id='points_left'>10</span> points left</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class='row ms-1 me-1'>
        <div class="col bg-gray border border-warning c-gold rounded text-center">
            <form method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <a class='btn btn-dark btn-outline-warning m-3 p-2 c-gold w-25'
                href='https://docs.google.com/document/d/1-v1iUAAMa5P62GotcEOsj89H0ntl7CHtrTYfwtNVW9g/edit?usp=sharing' target='_blank'>
                Races
            </a>
            <a class='btn btn-dark btn-outline-warning m-3 p-2 c-gold w-25'
                href='https://docs.google.com/document/d/1A-AM1SF78bhQ0blRxf06kb7VQ9WMYVeSN4VhOn3j53g/edit?usp=sharing' target='_blank'>
                Classes
            </a>
            <input class="btn btn-dark border border-warning btn-lg w-75 me-4 m-1" type="submit" value="Go to skills"></input>
            </form>
        </div>
    </div>
</div>

<script>
    let operations = new CharacterCreation();
    operations.races()
    operations.count_points()
</script>

{% endblock content %}