{% extends 'master.html' %}
 {% block content %}
 {% include 'top_bar.html' %}
 {% include 'dunnorpg/messages.html' %}
 
<div class='container'>
    <div class='row'>
        <div class='col c-gold fst-italic txt-shadow'>
            {% if skills_count_magical >= 0 %}
                <h3 class='text-end'>Magic points: {{ skills_count_magical }}</h3> 
            {% else %}
                <h3 class='text-end'>Magic points: 0</h3> 
            {% endif %}
        </div>
        <div class='col c-gold fst-italic txt-shadow'>
        <h2>Skill points: {{ skills_count }}</h2>            
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class='row txt-shadow bg-gray border border-warning c-gold rounded text-center m-1'> 
        <table>
            <td class='border border-warning'>INT: {{ character_stats.INT }}</td>
            <td class='border border-warning'>SIŁ: {{ character_stats.SIŁ }}</td>
            <td class='border border-warning'>ZRE: {{ character_stats.ZRE }}</td>
            <td class='border border-warning'>CHAR: {{ character_stats.CHAR }}</td>
            <td class='border border-warning'>CEL: {{ character_stats.CEL }}</td>
        </table> 
    </div> 
    <div class='row'>
        <div class="fs-5 p-2 col bg-gray border border-warning c-gold rounded text-center ms-2 me-2">
            <form method='POST' class='pt-1'>
            {% csrf_token %}
            {{ form.as_table }}
            <input class="btn btn-dark border border-warning btn-lg w-75 m-1 mt-3" type="submit" value="Add and continue"></input>
            </form>
        </div> 
    </div>  
 </div>

 <div class='container mt-2'>
    <div class='row text-center ms-5 me-5'>
        <a class='col m-1 btn btn-dark border btn-outline-warning border border-warning' target='_blank' href="{% url 'skills' %}">Skills</a>
        <a class='col m-1 btn btn-dark border btn-outline-danger border border-danger' href="/dunnorpg/character_edit/{{ character_id }}">Back</a>
        <a class='col m-1 btn btn-dark border btn-outline-warning border border-warning' href="{% url 'home' %}">Finish</a>
    </div>
</div>

<div class='container mt-4'>
    <div class='row text-center' style='margin-left: 20%; margin-right: 20%;'>
        <div class='col w-50 c-gold fw-bolder fst-italic fs-4 bg-gray text-center rounded border border-warning'>
            <p>{{ character }} skills:</p>
        </div>
    </div> 
</div>

<div class='container'>
    <div class='row m-1'>
        <div class='col rounded fs-5 p-1 c-gold bg-gray text-center border border-warning'>
                {% for skill in skills %}
                <div style='margin-left: 12%;' class='bg-dark border border-warning rounded w-75'>
                    <a href='downgrade/{{ skill.id }}' class='mt-1 btn btn-sm btn-outline-warning w-10'>-</a>
                    <a href='upgrade/{{ skill.id }}' class='mt-1 btn btn-sm btn-outline-warning w-10'>+</a>
                    <p class='m-1'>{{ skill.skill }} | lvl. {{ skill.level }} 

                    {% if skill.category != '1free' %}
                    <a href='delete/{{ skill.id }}' class='ms-2 btn btn-dark btn-outline-danger'>Delete</a>               
                    {% endif %}
                    </p>
                </div>
                {% endfor %}
        </div>
    </div class='row'>
 </div>
 
 {% endblock content %}