{% extends 'master.html' %}

{% block title %}Add Character{% endblock title %}

{% block content %}

{% include 'dunnorpg/messages.html' %}
<div class='container mt-2'>
    <div class='row'>
        <div class='col-1 c-gold'>
            <a class='btn btn-dark btn-outline-danger' href={% url 'home' %}>Back</a>
        </div>
        <div class='col c-gold text-center'>
            <h1 class='txt-shadow fst-italic'><span id='points_left'>10</span> points left</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class='row ms-1 me-1'>
        <div class="col bg-gray border border-warning c-gold rounded text-center">
            <form method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-dark border border-warning btn-lg w-75 me-4 m-1" type="submit" value="Go to skills"></input>
            </form>
        </div>
    </div>
</div>

<script>
    let operations = new CharacterCreation();
    operations.races()
    operations.count_points()
</script>

{% endblock content %}