{% extends 'master.html' %}
 {% block content %}
 {% include 'top_bar.html' %}
 {% include 'dunnorpg/messages.html' %}
 
<form method="post" action="change_owner" id='choose-new-owner' class='d-none position-fixed container-fluid'>
    {% csrf_token %}
    <div class='row bg-dark c-gold rounded border border-warning mt-5 m-2'>
      <div class='col text-center'>
        <select class='bg-dark text-primary h4 m-3 border border-warning rounded text-center' 
        name="new_owner" id="new_owner_select">
            {% for user in users %}
                <option value='{{ user.username }}' class='h4'>{{ user.username }}</option>
            {% endfor %}
        </select>
        <p id='Character' class='c-gold h5'>{{ character }}</p>
        <input type="hidden" name="chosen_character_id" value="{{ character.id }}">

        <div class="row">
            <div class="col m-0 p-0">
                <a onclick='hideById("choose-new-owner")' id='confirm-abort' class='btn btn-danger m-3 w-75 p-2'>Zamknij</a>
            </div>
            <div class="col m-0 p-0">
                <button type="submit" id='confirm-success' class='btn btn-success m-3 w-75 p-2'>Zmień</button>
            </div>
        </div>
      </div>
    </div>
</form>

<div id='advanced' class="container card-body text-center mt-5 c-gold border border-warning bg-dark rounded position-fixed m-0 p-0 ms-1 pb-3 d-none" style="width: 96%">
    <h3 class="mt-1">Zaawansowane</h3>

    <div class="row m-0 p-0 mt-3">
        <div class="col-5 m-0 p-0 text-end">
            <span class="text-white-50">Maks. liczba HP:</span>
        </div>
        <div class="col">
            <input class="w-100 text-center border border-warning bg-gray text-white-50 rounded" id="adv-maxhp" type="number" value="{{ character.fullHP }}" />
        </div>
    </div>

    <div class="row m-0 p-0 mt-3">
        <div class="col-5 m-0 p-0 text-end">
            <span class="text-white-50">Dostępne punkty:</span>
        </div>
        <div class="col">
            <input class="w-100 text-center border border-warning bg-gray text-white-50 rounded" id="adv-points" type="number" value="{{ character.points_left }}" />
        </div>
    </div>

    <div class="row m-0 p-0 mt-3">
        <div class="col-5 m-0 p-0 text-end">
            <span class="text-white-50">Podgląd postaci:</span>
        </div>
        <div class="col">
            <input class="w-100 text-center border border-warning bg-gray text-white-50 rounded" id="adv-url" type="text" value="{{ character.model_url }}" />
        </div>
    </div>

    <div class="row m-0 p-0 mt-3">
        <div class="col-5 m-0 p-0 text-end">
            <span class="text-white-50">Rozmiar postaci:</span>
        </div>
        <div class="col">
            <input class="w-100 text-center border border-warning bg-gray text-white-50 rounded" id="adv-size" type="number" value="{{ character.size }}" />
        </div>
    </div>

    <div class="row m-0 p-0 mt-3">
        <div class="col">
            <button class="btn btn-danger w-100" onclick="show_or_hideById('advanced')">Zamknij</button>
        </div>
        <div class="col">
            <button class="btn btn-success w-100" onclick="" disabled>Zmień</button>
        </div>
    </div>
    
</div>

<div class='container hideable'>
        <div class="row">
            <div class="col text-end">
                    <button class="m-2 btn btn-success" onclick="show_or_hideById('advanced')">
                        Zaawansowane
                    </button>
            </div>

            <div class="col text-end">
                {% if user.is_superuser %}
                    <button class="m-2 btn btn-primary" onclick="changeOwnerScreen('{{ character }}')">
                        Change owner
                    </button>
                {% endif %}
            </div>
        </div>
    <div class='row'>
        <div class='col text-center c-gold fst-italic txt-shadow p-0'>
            <h2>Dostępne punkty umiejętności: <span>{{ character.points_left }}</span></h2>            
        </div>
    </div>
</div>

<div class='container d-none' id="iframe-container" style='height: 19rem;'>
    <div class="row h-100">
        <div class="col c-gold ps-0 pe-0">
            <iframe src="" class="w-100 h-100 border border-warning" id="iframe"></iframe>
        </div>
    </div>
</div>

<div class="container p-0">
    <div class='row txt-shadow bg-gray border border-warning c-gold rounded text-center m-1 hideable'> 
        <table>
            <td class='border border-warning'>
                <a href='up/INT' class='col text-decoration-none text-success fsw-bold h2'>+</a>
                <div class='row'><span class='col'>INT: {{ character.INT }}</span></div>
                <a href='down/INT' class='col text-decoration-none text-danger fsw-bold h2'>-</a>
            </td>

            <td class='border border-warning'>
                <a href='up/SIŁ' class='col text-decoration-none text-success fsw-bold h2'>+</a>
                <div class='row'><span class='col'>SIŁ: {{ character.SIŁ }}</span></div>
                <a href='down/SIŁ' class='col text-decoration-none text-danger fsw-bold h2'>-</a>
            </td>

            <td class='border border-warning'>
                <a href='up/ZRE' class='col text-decoration-none text-success fsw-bold h2'>+</a>
                <div class='row'><span class='col'>ZRE: {{ character.ZRE }}</span></div>
                <a href='down/ZRE' class='col text-decoration-none text-danger fsw-bold h2'>-</a>
            </td>

            <td class='border border-warning'>
                <a href='up/CHAR' class='col text-decoration-none text-success fsw-bold h2'>+</a>
                <div class='row'><span class='col'>CHAR: {{ character.CHAR }}</span></div>
                <a href='down/CHAR' class='col text-decoration-none text-danger fsw-bold h2'>-</a>
            </td>

            <td class='border border-warning'>
                <a href='up/CEL' class='col text-decoration-none text-success fsw-bold h2'>+</a>
                <div class='row'><span class='col'>CEL: {{ character.CEL }}</span></div>
                <a href='down/CEL' class='col text-decoration-none text-danger fsw-bold h2'>-</a>
            </td>
        </table> 
    </div>  

    <div class='container m-0 p-0 mt-1 border border-warning c-gold rounded'>

        <div class="row text-center text-white-50 h2 p-2 col bg-gray text-center m-0">
            <div class="col">
                <span>Umiejętność</span>
            </div>
        </div> 

        <div class="row text-center fs-5 p-2 col bg-gray text-center m-0">
            <div class="col">
                <select class="text-center w-100 border border-warning bg-dark text-white-50 rounded" id="skill-choose-name" onchange="skillChanged()"> 
                    {% for skill in available_skills %}
                        <option value="{{ skill.id }}">{{ skill.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div> 

        <div class="row text-center fs-5 p-2 col bg-gray text-center m-0">
            <div class="col text-white-50">
                <b>Poziom:</b>
            </div>
            <div class="col">
                <select class="text-center w-100 border border-warning bg-dark text-white-50 rounded" id="skill-choose-lvl">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div> 

        <div class="row text-center fs-5 p-2 col bg-gray text-center m-0">
            <div class="col">
                <button class="bg-dark border border-primary text-primary rounded p-1" id="iframe-btn" onclick="changeToIframe()">Pokaż umiejętność</button>
            </div>
            <div class="col">
                <button class="bg-dark border border-success text-success rounded p-1" onclick="addSkill()">Dodaj umiejętność</button>
            </div>
        </div> 
    </div>  

 </div>

<div class='container mt-4'>
    <div class='row text-center m-1' style=''>
        <div class='col w-50 c-gold fw-bolder fst-italic fs-4 bg-gray text-center rounded border border-warning'>
            <p><span id="char-name" class="d-none">{{ character.name }}</span>Aktualne umiejętności:</p>
        </div>
    </div> 
</div>

<div class='container p-0 bg-opacity-75'>
    <div class='row m-1'>
        <div class='col rounded fs-5 p-1 c-gold bg-gray text-center border border-warning'>
                {% for skill in current_skills %}
                <div style='margin-left: 2%; width: 96%;' class='p-1 bg-dark border border-warning rounded'>
                    <a href='downgrade/{{ skill.id }}' class='mt-1 btn btn-sm btn-outline-warning w-25 me-2'>-</a>
                    <a href='upgrade/{{ skill.id }}' class='mt-1 btn btn-sm btn-outline-warning w-25 ms-2'>+</a>
                    <p class='m-1 mt-2'>{{ skill.skill }} | lvl. {{ skill.level }} 

                    {% if skill.category != '1free' %}
                    <a href='delete/{{ skill.id }}' class='ms-2 btn btn-dark btn-outline-danger'>Usuń</a>               
                    {% endif %}
                    </p>
                </div>
                {% endfor %}
        </div>
    </div class='row'>
 </div>

 <script>
    document.title = "[E] " + document.getElementById("char-name").innerHTML + " | DunnoRPG"

    function changeOwnerScreen(character){
        document.getElementById("Character").innerHTML = character
        document.getElementById("choose-new-owner").classList.remove("d-none")
    }

    function addSkill(){
        let skill_id = document.getElementById("skill-choose-name").value
        let lvl = document.getElementById("skill-choose-lvl").value
        url = window.location.href + `add/${skill_id}/${lvl}`
        window.location.replace(url)
    }

    function skillChanged(){
        let iframe = document.getElementById("iframe")
        let select = document.getElementById("skill-choose-name")
        let id = select.value

        iframe.src = `/dunnorpg/skills/${id}`
    }

    function changeToIframe(reverse=false){
        let toHide = document.getElementsByClassName("hideable")
        let iframe_container = document.getElementById("iframe-container")
        let btn = document.getElementById("iframe-btn")
        let iframe = document.getElementById("iframe-btn")

        for (let i = 0; i < toHide.length; i++) {
            if(!reverse){
                toHide[i].classList.add("d-none")
                iframe_container.classList.remove("d-none")

                btn.classList.remove("text-primary")
                btn.classList.remove("border-primary")
                btn.classList.add("text-danger")
                btn.classList.add("border-danger")
                btn.textContent = "Ukryj umiejętność"

                btn.onclick = () => changeToIframe(true);

            }else{
                toHide[i].classList.remove("d-none")
                iframe_container.classList.add("d-none")

                btn.classList.add("text-primary")
                btn.classList.add("border-primary")
                btn.classList.remove("text-danger")
                btn.classList.remove("border-danger")
                btn.textContent = "Pokaż umiejętność"

                btn.onclick = () => changeToIframe(false);

            }
        }
    }

    function show_or_hideById(id){
        let element = document.getElementById(id)
        if (element.classList.contains('d-none')){
            element.classList.remove('d-none')
        }
        else{
            element.classList.add('d-none')
        }
    };
 </script>
 
 {% endblock content %}