{% extends 'master.html' %}
{% load filters %}

{% block content %}
{% include 'top_bar.html' %}
{% include 'dunnorpg/messages.html' %}


{% if is_empty %}
    <div class='container mt-5'>
        <div class='row text-center c-gold mt-1 fst-italic' style='-webkit-text-stroke: 1px black;'>
            <h1>You're in the wild... No city here.</h1>
        </div>
    </div>
{% else %}


    <meta name="csrf-token" content="{{ csrf_token }}">
    <h1 class='c-gold text-center fst-italic' style='-webkit-text-stroke: 0.5px blue; font-size:300%;' id='city-name'>
        {{ city.city_name }}
    </h1>

    <div id='char-to-buy' class='d-none position-fixed container-fluid'>
        <div class='row bg-dark c-gold rounded border border-warning me-1'>
          <div class='col text-center'>
            <select class='bg-dark text-primary h4 m-3 border border-warning rounded text-center' 
            name="chosen_character" id="choosing_char_select">
                {% for char in characters %}
                    <option value='{{ char.id }}' class='h4'>{{ char.name }}</option>
                    <option id="{{ char.id }}-char" class="d-none">{{ char.CHAR }}</option>
                {% endfor %}
            </select>
            <p id='Item' class='c-gold h5'>Item</p>
            <a onclick='this.parentNode.parentNode.parentNode.classList.add("d-none")' id='confirm-failure' class='btn btn-danger m-3'>Back</a>
            <a onclick="confirmBuy()" id='confirm-success' class='btn btn-success m-3'>Add</a>
          </div>
        </div>
    </div>

    <div class='container mt-3 p-0'>
        <div class='row text-center c-gold p-2 rounded border border-warning bg-dark mt-1' onclick="showOrHideBlock(this,'smith-items')">
            <h2>Kowal</h2>
        </div>
        <div id='smith-items' class='container text-center c-gold rounded border border-primary bg-dark d-none p-0'>
            {% for item in weaponry_singlehand %}
                <div class='row bg-gray rounded m-1 border border-primary'>
                    <span class='col-3 text-center {{ item|getItemRarity }} wrap h5 p-1 border-end d-flex align-items-center justify-content-center text-wrap text-break'>
                        {{ item|getItemType:"pl" }}
                    </span>
                    <a class='col text-center {{ item|getItemRarity }} wrap h5 m-1 p-0 d-flex align-items-center justify-content-center text-wrap text-break' 
                    id='{{ item|getDescId }}'
                    href='/dunnorpg/items/{{ item|getDescId }}'>
                        {{ item }} {% if item in x5packets %}x5{% endif %} {% if item in x10packets %}x10{% endif %}
                    </a>
                    <span class='col-1 text-center {{ item|getItemRarity }} wrap h5 p-1 border-start d-flex align-items-center justify-content-center'>
                        {{ amounts|dict_get:item }}
                    </span>
                    <span class='col-2 c-gold h5 p-1 border-start border-white d-flex align-items-center justify-content-center'>
                        Cost: {{ item|getItemPrice:True }}
                    </span>
                    <a class='col-2 text-center btn btn-sm btn-success d-flex align-items-center justify-content-center' onclick="buyItem('{{ item }} {% if item in x5packets %}x5{% endif %} {% if item in x10packets %}x10{% endif %}','{{ item|getDescId }}')">
                        Buy
                    </a>
                </div>
            {% endfor %}
            <hr>
            {% for item in weaponry_twohand %}
                <div class='row bg-gray rounded m-1 border border-primary'>
                    <span class='col-3 text-center {{ item|getItemRarity }} wrap h5 p-1 border-end d-flex align-items-center justify-content-center text-wrap text-break'>
                        {{ item|getItemType:"pl" }}
                    </span>
                    <a class='col text-center {{ item|getItemRarity }} wrap h5 m-1 p-0 d-flex align-items-center justify-content-center text-wrap text-break' 
                    id='{{ item|getDescId }}'
                    href='/dunnorpg/items/{{ item|getDescId }}'>
                        {{ item }} {% if item in x5packets %}x5{% endif %} {% if item in x10packets %}x10{% endif %}
                    </a>
                    <span class='col-1 text-center {{ item|getItemRarity }} wrap h5 p-1 border-start d-flex align-items-center justify-content-center'>
                        {{ amounts|dict_get:item }}
                    </span>
                    <span class='col-2 c-gold h5 p-1 border-start border-white d-flex align-items-center justify-content-center'>
                        Cost: {{ item|getItemPrice:True }}
                    </span>
                    <a class='col-2 text-center btn btn-sm btn-success d-flex align-items-center justify-content-center' onclick="buyItem('{{ item }} {% if item in x5packets %}x5{% endif %} {% if item in x10packets %}x10{% endif %}','{{ item|getDescId }}')">
                        Buy
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class='row text-center c-gold p-2 rounded border border-warning bg-dark mt-1' onclick="showOrHideBlock(this,'armorer-items')">
            <h2>Płatnerz</h2>
        </div>
        <div id='armorer-items' class='container text-center c-gold rounded border border-primary bg-dark d-none p-0'>
            {% for item in armor %}
                <div class='row bg-gray rounded m-1 border border-primary'>
                    <span class='col-3 text-center {{ item|getItemRarity }} wrap h5 p-1 border-end d-flex align-items-center justify-content-center text-wrap text-break'>
                        {{ item|getItemType:"pl" }}
                    </span>
                    <a class='col text-center {{ item|getItemRarity }} wrap h5 m-1 p-0 d-flex align-items-center justify-content-center text-wrap text-break' 
                    id='{{ item|getDescId }}'
                    href='/dunnorpg/items/{{ item|getDescId }}'>
                        {{ item }} {% if item in x5packets %}x5{% endif %} {% if item in x10packets %}x10{% endif %}
                    </a>
                    <span class='col-1 text-center {{ item|getItemRarity }} wrap h5 p-1 border-start d-flex align-items-center justify-content-center'>
                        {{ amounts|dict_get:item }}
                    </span>
                    <span class='col-2 c-gold h5 p-1 border-start border-white d-flex align-items-center justify-content-center'>
                        Cost: {{ item|getItemPrice:True }}
                    </span>
                    <a class='col-2 text-center btn btn-sm btn-success d-flex align-items-center justify-content-center' onclick="buyItem('{{ item }} {% if item in x5packets %}x5{% endif %} {% if item in x10packets %}x10{% endif %}','{{ item|getDescId }}')">
                        Buy
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class='row text-center c-gold p-2 rounded border border-warning bg-dark mt-1' onclick="showOrHideBlock(this,'strange-items')">
            <h2>Stoisko z różnymi przedmiotami</h2>
        </div>
        <div id='strange-items' class='container text-center c-gold rounded border border-primary bg-dark d-none p-0'>
            {% for item in amulets %}
                <div class='row bg-gray rounded m-1 border border-primary'>
                    <a class='col text-center {{ item|getItemRarity }} wrap h5 m-1 p-0' id='{{ item|getDescId }}'
                    href='/dunnorpg/items/{{ item|getDescId }}'>
                        {{ item }} {% if item in x5packets %}x5{% endif %} {% if item in x10packets %}x10{% endif %} [Ilość: {{ amounts|dict_get:item }}]
                    </a>
                    <span class='col-2 c-gold h5 m-1 border-start border-white d-flex align-items-center justify-content-center'>
                        Cost: {{ item|getItemPrice:True }}
                    </span>
                    <a class='col-2 text-center btn btn-sm btn-success d-flex align-items-center justify-content-center' onclick="buyItem('{{ item }} {% if item in x5packets %}x5{% endif %} {% if item in x10packets %}x10{% endif %}','{{ item|getDescId }}')">
                        Buy
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class='row text-center c-gold p-2 rounded border border-warning bg-dark mt-1' onclick="showOrHideBlock(this,'potions')">
            <h2>Stoisko z eliksirami</h2>
        </div>
        <div id='potions' class='container text-center c-gold rounded border border-primary bg-dark d-none p-0'>
            {% for item in potions %}
                <div class='row bg-gray rounded m-1 border border-primary'>
                    <a class='col text-center {{ item|getItemRarity }} wrap h5 m-1 p-0' id='{{ item|getDescId }}'
                    href='/dunnorpg/items/{{ item|getDescId }}'>
                        {{ item }} {% if item in x5packets %}x5{% endif %} {% if item in x10packets %}x10{% endif %} [Ilość: {{ amounts|dict_get:item }}]
                    </a>
                    <span class='col-3 c-gold h5 m-1 border-start border-white d-flex align-items-center justify-content-center'>
                        Cost: {{ item|getItemPrice:True }}
                    </span>
                    <a class='col-2 text-center btn btn-sm btn-success d-flex align-items-center justify-content-center' onclick="buyItem('{{ item }} {% if item in x5packets %}x5{% endif %} {% if item in x10packets %}x10{% endif %}','{{ item|getDescId }}')">
                        Buy
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class='row text-center c-gold p-2 rounded border border-warning bg-dark mt-1' onclick="showOrHideBlock(this,'merchant')">
            <h2>Kupiec</h2>
        </div>
        <div id='merchant' class='container text-center c-gold rounded border border-primary bg-dark d-none p-0'>
            {% for item in other %}
                <div class='row bg-gray rounded m-1 border border-primary'>
                    <a class='col text-center {{ item|getItemRarity }} wrap h5 m-1 p-0' id='{{ item|getDescId }}'
                    href='/dunnorpg/items/{{ item|getDescId }}'>
                        {{ item }} {% if item in x5packets %}x5{% endif %} {% if item in x10packets %}x10{% endif %} [Ilość: {{ amounts|dict_get:item }}]
                    </a>
                    <span class='col-3 c-gold h5 m-1 border-start border-white d-flex align-items-center justify-content-center'>
                        Cost: {{ item|getItemPrice:True }}
                    </span>
                    <a class='col-2 text-center btn btn-sm btn-success d-flex align-items-center justify-content-center' onclick="buyItem('{{ item }} {% if item in x5packets %}x5{% endif %} {% if item in x10packets %}x10{% endif %}','{{ item|getDescId }}')">
                        Buy
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class='row text-center c-gold p-2 rounded border border-warning bg-dark mt-1' onclick="showOrHideBlock(this,'animals')">
            <h2>Handlarz zwierząt</h2>
        </div>
        <div id='animals' class='container text-center c-gold rounded border border-primary bg-dark d-none p-0'>
            {% for item in animals %}
                <div class='row bg-gray rounded m-1 border border-primary'>
                    <a class='col text-center {{ item|getItemRarity }} wrap h5 m-1 p-0' id='{{ item|getDescId }}'
                    href='/dunnorpg/items/{{ item|getDescId }}'>
                        {{ item }} {% if item in x5packets %}x5{% endif %} {% if item in x10packets %}x10{% endif %} [Ilość: {{ amounts|dict_get:item }}]
                    </a>
                    <span class='col-3 c-gold h5 m-1 border-start border-white d-flex align-items-center justify-content-center'>
                        Cost: {{ item|getItemPrice:True }}
                    </span>
                    <a class='col-2 text-center btn btn-sm btn-success d-flex align-items-center justify-content-center' onclick="buyItem('{{ item }} {% if item in x5packets %}x5{% endif %} {% if item in x10packets %}x10{% endif %}','{{ item|getDescId }}')">
                        Buy
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class='row text-center c-gold p-2 rounded border border-warning bg-dark mt-1' onclick="showOrHideBlock(this,'medic')">
            <h2>Uzdrowiciel</h2>
        </div>
        <div id='medic' class='container text-center c-gold rounded border border-primary bg-dark d-none p-0'>
            {% for char in characters %}
                <div class='row bg-gray rounded m-1 border border-primary'>
                    <a class='col text-center c-gold h5 m-1' id='char.id'>
                        {{ char.name }}
                    </a>
                    <input type='number' max="{{ char.fullHP }}" min="0" id="{{ char.id }}-heal-val"
                    class='col-3 c-gold m-1 bg-gray border border-warning rounded d-flex align-items-center justify-content-center'
                    placeholder='{{ char.HP }}/{{ char.fullHP }} HP'>
                    <a class='col-2 text-center btn btn-sm btn-success' onclick="heal('{{ char.id }}')">
                        Heal
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class='row text-center c-gold p-2 rounded border border-warning bg-dark mt-1' onclick="showOrHideBlock(this,'fix')">
            <h2>Naprawa</h2>
        </div>
        <div id='fix' class='container text-center c-gold rounded border border-primary bg-dark d-none p-0'>
            {% for char in characters %}
                {% for item in char.name|getCharacterItems %}
                    {% if item.name|getItemType != "Animal" %}
                        <div class='row bg-gray rounded m-1 border border-primary'>
                            <a class="col text-center c-gold h5 m-1 {{ item.name|getItemRarity }}" id='fix-{{ item.id }}-item'>
                                [<span id="item-{{ item.id }}-owner">{{ item.character }}</span>] {{ item.name }} (<span id="fix-{{ item.id }}-dur">{{ item.durability }}</span>/{{ item.name|getMaxDurability }})
                                <span class="d-none" id="rarity-{{ item.id }}">{{ item.name|getItemRarity }}</span>
                            </a>
                            <input type='number' min="0" id="fix-{{ item.id }}"
                            class='col-2 c-gold m-1 bg-gray border border-warning rounded'
                            placeholder='Ile naprawić?'>

                            <input type='text' min="0" id="fix-{{ item.id }}-cost"
                            class='col-2 c-gold m-1 me-3 bg-gray border border-warning rounded'
                            value='0' disabled>

                            <a class='col-1 text-center btn btn-sm btn-success' onclick="fix('{{ char.id }}', '{{ item.id }}')">
                                Fix
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>

    </div>
 
    {% if city.magic_school %}
        <div class='container c-gold mt-2'>
            <div class='row text-center fst-italic border-top border-bottom border-warning' style='-webkit-text-stroke: 0.7px black;'>
                <h1>Magic school avaible</h1>
            </div>
        </div>    
    {% endif %}

    {% if city.champion_school_type %}
        <div class='container c-gold mt-2'>
            <div class='row text-center fst-italic border-top border-bottom border-warning' style='-webkit-text-stroke: 0.7px black;'>
                <h1>Champion school categories: {{ city.champion_school_type }}</h1>
            </div>
        </div>    
    {% endif %}

</div>    

{% endif %}

<script>
    document.title = document.getElementById('city-name').innerHTML + " | DunnoRPG"
    document.getElementById('tb-city').classList.remove('btn-outline-warning')
    document.getElementById('tb-city').classList.add('btn-outline-primary')
    

    function buyItem(item,item_id){
        document.getElementById('char-to-buy').classList.remove('d-none')
        
        item_line = document.getElementById('Item')
        item_line.innerHTML = item
        item_line.setAttribute('name', item_id)

    }

    function confirmBuy(){
        let item = document.getElementById('Item');
        let item_id = item.getAttribute('name');
        let char_id = document.getElementById('choosing_char_select').value;
    
        let amount = 1;
        if (item.innerHTML.includes("x10")) { amount = 10; }
        if (item.innerHTML.includes("x5")) { amount = 5; }
    
        window.location.href = "buyitem-" + item_id + "-" + char_id + "-" + amount;
    }

    function heal(char_id){
        id = char_id+"-heal-val"
        val = document.getElementById(id).value
        if(val==''){
            alert('You must give any value to input first!')
        }
        else{
            window.location.href = window.location.href + char_id + "h" + val
        }
    }

    async function fix(char_id, item_id){
        fix_by = document.getElementById(`fix-${item_id}`).value
        cost = document.getElementById(`fix-${item_id}-cost`).value
        item_dur = document.getElementById(`fix-${item_id}-dur`).innerHTML
        url = window.location.href + 'fixitem'
        token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        let dice = Math.floor(Math.random() * 20) + 1
        let characterCharisma = parseInt(document.getElementById(`${char_id}-char`).innerHTML)
        result = dice+characterCharisma
        console.log(result)

        if(result>=15){
            cost = parseInt(cost*0.5)
        }else if(result>=12){
            cost = parseInt(cost*0.75)
        }

        req_body = {
            "fix-dur": fix_by,
            "cost": cost,
            "item_id": item_id,
            "char_id": char_id
        }

        response = await fetch(url, {
            method: "POST",
            body: JSON.stringify(req_body),
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": token
            },
          })
        
        data = await response.json()
        fixed = data.new_durability - parseInt(document.getElementById(`fix-${item_id}-dur`).innerHTML)

          console.log(response)
          if(response.status==200){
            document.getElementById(`fix-${item_id}-dur`).innerHTML = data.new_durability
            document.getElementById(`fix-${item_id}-item`).innerHTML += `<span class="unique" style="text-decoration: none"> [Fixed ${fixed} for ${data.cost} coins]</span>`
          }
    }

    let rarity_modifier = {
        "start-item": 0.5,
        "neutral-low": 0.75,
        "neutral-high": 1,
        "unique": 1.25,
        "magical": 1.5,
        "uncommon": 1.75
    }
    document.addEventListener('input', function(event) {
        if (event.target && event.target.placeholder === 'Ile naprawić?') {
            let id = event.target.id.split("-")[1]
            let rarity = document.getElementById('rarity-'+id).innerHTML
            let inputValue = parseInt(event.target.value, 10);
            let costElementId = 'fix-' + event.target.id.split('-')[1] + '-cost';
            let costElement = document.getElementById(costElementId);
            
            if (!isNaN(inputValue) && costElement) {
                let cost = Math.ceil((inputValue / 10)*rarity_modifier[rarity]);
                costElement.value = cost;
            } else if (costElement) {
                costElement.value = '0';
            }
        }
    })
</script>

{% endblock content %}