{% extends 'master.html' %}
{% load filters %}

{% block content %}
{% include 'top_bar.html' %}
{% include 'dunnorpg/messages.html' %}

{% if user.is_superuser %}

<div name='Req-Btn' class='container mt-3'>
    <div onclick='showOrHideBlock(this,"requests-block")' class='row bg-dark rounded border border-primary' id='requests-btn'>
        <div class='col text-end mt-3 mb-2'>
            <a href='rq0-0-1' class='btn btn-sm btn-danger btn-outline-danger text-black'>Decline all</a>
        </div>        
        <div class='col c-gold p-2 text-center'>
            <span class='d-inline-flex'>
                <h1>Requests</h1>
                {% if requests.count > 0 %}
                    <p class='circle ms-3 text-center'>{{ requests.count }}</p>
                {% endif %}
            </span>
        </div>
        <div class='col mt-3 mb-2'>
            <a href='rq0-1-1' class='btn btn-sm btn-success btn-outline-success text-black'>Accept all</a>
        </div>  
    </div>
</div>

<div id='requests-block' class='container bg-dark rounded border border-primary mt-3'>
    {% for rq in requests %}
        <div class='row m-2 p-2 border border-warning'>
            <span class='col c-gold text-center'>
                <i>[{{ rq.from_user }}] {{ rq.char_id|getCharacterName }}:</i> <b>[1]</b>{{ rq.model|getObjectName:rq.object1_id }} <b>[2]</b>{{ rq.objects_model|getObjectName:rq.object2_id }}
                | <u>{{ rq.field }} {{ rq.title }}</u>
            </span>
            <span class='col-4 text-center'>
                <a href='rq{{ rq.id }}-0-0' class='text-end btn btn-danger btn-outline-danger text-black'>Decline</a>
                <a href='rq{{ rq.id }}-1-0' class='text-end btn btn-success btn-outline-success text-black'>Accept</a>
            </span>
        </div>
    {% endfor %}
</div>

<div id='add-effect' class='container bg-dark rounded border border-primary mt-3'>
    <div class='row text-center c-gold mt-1'><h2>Add Effect to Player</h2></div>
    <form method='POST' action='add_effect'>
    {% csrf_token %}
        <div class='row m-2 p-2 c-gold'>
            {% for field in effect_form %}
                <div class="col">
                    <b>{{ field.label_tag }}</b> {{ field }} 
                </div>
            {% endfor %}
            <input class="col-2 btn btn-sm btn-success" type="submit" value="Add"></input>
        </div>
    </form>
</div>

<div id='eq-add-item' class='container bg-dark rounded border border-primary mt-3'>
    <div class='row text-center c-gold mt-1'><h2>Add item to player EQ</h2></div>
    <form method='POST'>
    {% csrf_token %}
        <div class='row m-2 p-2 c-gold'>
            {% for field in form %}
                <div class="col">
                    <b>{{ field.label_tag }}</b> {{ field }} 
                </div>
            {% endfor %}
            <input class="col-2 btn btn-sm btn-success m-2" type="submit" value="Add"></input>
        </div>
    </form>
</div>

<div id='end-round' class='container bg-danger p-2 rounded border border-white mt-3'>
    <a class='row text-center text-white mt-1' href='end_round'>
        <h2>End Round</h2>
    </a>
    </form>
</div>

{% else %}{% include 'user-not-gm.html' %}

{% endif %}

<script>
    document.getElementById('tb-gm').classList.remove('btn-outline-warning')
    document.getElementById('tb-gm').classList.add('btn-outline-primary')

    function showOrHideBlock(instance,id){
        if (instance.classList.contains('border-warning')){
            instance.classList.remove('border-warning')
            instance.classList.add('border-primary')

            document.getElementById(id).classList.remove('d-none')
        }
        else{
            instance.classList.remove('border-primary')
            instance.classList.add('border-warning')    
            
            document.getElementById(id).classList.add('d-none')
        }
    }
</script>

{% endblock content %}