{% extends 'master.html' %}
{% load filters %}

{% block content %}
{% include 'top_bar.html' %}
{% include 'dunnorpg/messages.html' %}

{% if user.is_superuser %}

<!-- Select2 CSS -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<!-- jQuery (required for Select2) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Select2 JS -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function() {
        // Apply Select2 to all <select> elements inside the form
        $('select').select2({
            width: 'resolve',  // Adjust the width according to the container
            placeholder: 'Select an option',
            allowClear: true  // Allows clearing the selection
        });
    });
</script>

<div name='Req-Btn' class='container mt-3'>
    <div onclick='showOrHideBlock(this,"requests-block")' class='row bg-dark rounded border border-primary' id='requests-btn'>
        <div class='col text-end mt-3 mb-2'>
            <a href='rq0-0-1' class='btn btn-sm btn-danger btn-outline-danger text-black'>Decline all</a>
        </div>        
        <div class='col c-gold p-2 text-center'>
            <span class='d-inline-flex'>
                <h1>Requests</h1>
                {% if requests.count > 0 %}
                    <p class='circle ms-3 text-center'>{{ requests.count }}</p>
                {% endif %}
            </span>
        </div>
        <div class='col mt-3 mb-2'>
            <a href='rq0-1-1' class='btn btn-sm btn-success btn-outline-success text-black'>Accept all</a>
        </div>  
    </div>
</div>

<div id='requests-block' class='container bg-dark rounded border border-primary mt-3'>
    {% for rq in requests %}
        <div class='row m-2 p-2 border border-warning'>
            <span class='col c-gold text-center'>
                <i>[{{ rq.from_user }}] {{ rq.char_id|getCharacterName }}:</i> <b>[1]</b>{{ rq.model|getObjectName:rq.object1_id }} <b>[2]</b>{{ rq.objects_model|getObjectName:rq.object2_id }}
                | <u>{{ rq.field }} {{ rq.title }}</u>
            </span>
            <span class='col-4 text-center'>
                <a href='rq{{ rq.id }}-0-0' class='text-end btn btn-danger btn-outline-danger text-black'>Decline</a>
                <a href='rq{{ rq.id }}-1-0' class='text-end btn btn-success btn-outline-success text-black'>Accept</a>
            </span>
        </div>
    {% endfor %}
</div>

<div id='add-effect' class='container bg-dark rounded border border-primary mt-3'>
    <div class='row text-center c-gold mt-1'><h2>Add Effect to Player</h2></div>
    <form method='POST' action='add_effect'>
    {% csrf_token %}
        <div class='row m-2 p-2 c-gold'>
            {% for field in effect_form %}
                <div class="col">
                    <b>{{ field.label_tag }}</b> {{ field }} 
                </div>
            {% endfor %}
            <input class="col-2 btn btn-sm btn-success" type="submit" value="Add"></input>
        </div>
    </form>
</div>

<div id='eq-add-item' class='container bg-dark rounded border border-primary mt-3'>
    <div class='row text-center c-gold mt-1'><h2>Add item to player EQ</h2></div>
    <form method='POST'>
    {% csrf_token %}
        <div class='row m-2 p-2 c-gold'>
            {% for field in form %}
                <div class="col">
                    <b>{{ field.label_tag }}</b> {{ field }} 
                </div>
            {% endfor %}
            <input class="col-2 btn btn-sm btn-success m-2" type="submit" value="Add"></input>
        </div>
    </form>
</div>

<div id='end-round' class='container bg-danger rounded border border-white mt-3'>
    <h2 class='row text-center mt-1'>
        <a class='col text-white border-end border-white p-2' href='reset-skills/all'>Reset all skills</a>
        <a class='col text-white border-end border-white p-2' href='reset-skills/normal'>Reset normal skills</a>
        <a class='col text-white border-0 border-white p-2' href='end_round'>End Round</a>
    </a>
    </form>
</div>

{% else %}{% include 'user-not-gm.html' %}

{% endif %}

<script>
    document.getElementById('tb-gm').classList.remove('btn-outline-warning')
    document.getElementById('tb-gm').classList.add('btn-outline-primary')
</script>

{% endblock content %}