{% extends 'master.html' %}

{% block content %}

{% if user.is_authenticated %}
  {% include 'top_bar.html' %}

<div id='del-confirm' class='d-none position-fixed container-fluid'>
  <div class='row bg-dark c-gold rounded border border-warning mt-5 ms-5 me-5'>
    <div class='col text-center'>
      <h2 id='del-confirm-title' class='m-2 mt-5 fst-150'>Jesteś pewien?</h2>
      <a onclick='this.parentNode.parentNode.parentNode.classList.add("d-none")' class='btn btn-lg btn-outline-danger m-1 mb-5'>Nie</a>
      <a href='char-delete/' id='del-confirm-positive' class='btn btn-lg btn-outline-success m-1 mb-5'>Tak</a>
    </div>
  </div>
</div>

  <div class="container card-body">
    <div class="row">
        {% for character in characters %}
        <div class="col m-4 p-3 border border-warning bg-gray c-gold rounded text-center">
          <dl>
            {% if user.is_superuser %}
              <dt>Owner:</dt>
                <dd>{{ character.owner }}</dd>
            {% endif %}
            <dt>Character:</dt>
              <dd>{{ character.name }}</dd>
            <dt>Race:</dt>
            <dd>{{ character.race }}</dd>
          </dl>
            <div name='char_card_btns'>
              <a onclick="charDeleteConfirmation('Usunąć {{ character.name }}?',{{ character.id }})" class="btn btn-sm btn-dark btn-outline-danger m-1">Delete</a>
              <a class="btn btn-sm btn-dark btn-outline-primary m-1" href="{% url 'character_add_skills' character.id %}">Edit</a>
              <div class='container'>
                <a class="btn btn-dark btn-outline-warning m-1" href="{% url 'character_detail' character.id %}">Choose</a>
              </div>
            </div>
        </div>
        {% endfor %}
        {% if characters_count > 0 %}
          <div class="col mt-5 m-3 text-center">
              <a class="mt-4 btn btn-dark btn-outline-warning fs-2 w-15vh" href="{% url 'character_add' %}">+</a>
          </div>
        {% else %}
        <div class="row">
          <div class="col text-center m-2">
            <h2 class="c-gold fw-bold fst-italic txt-shadow">None characters found</h2>
          </div>
        </div>
        <div class='row'>
          <div class="col align-items-center m-3 text-center">
            <a class="btn btn-dark btn-outline-warning w-25 h-100 fs-1" href="{% url 'character_add' %}">+</a>
          </div>
        </div>
        {% endif %}
    </div>
  </div>

  {% else %}
      <div class="d-grid gap-2 col-6 mx-auto mgt20">
        <a href="/accounts/login/" class="btn btn-dark btn-outline-success btn-lg home-btn">Log In</a>

        <a href="guest/" class="btn btn-dark btn-outline-warning btn-lg home-btn">Guest Account</a>

        <a href="signup/" class="btn btn-dark btn-outline-primary btn-lg home-btn">Sign Up</a>
      </div>
{% endif %}

<script>
  document.getElementById('tb-characters').classList.remove('btn-outline-warning')
  document.getElementById('tb-characters').classList.add('btn-outline-primary')

  function charDeleteConfirmation(text='Jesteś pewien?',id){
    document.getElementById('del-confirm-title').innerHTML = text

    document.getElementById('del-confirm-positive').href = 'char-delete/'+id
    document.getElementById('del-confirm').classList.remove('d-none')
  }
</script>

{% endblock  %}