{% extends 'master.html' %}

{% block content %}
{% include 'top_bar.html' %}

<div class='container mt-2'>
    <div class='row text-center'>
        <form action="{% url 'info_effects' %}" method='GET' class='container-fluid'>
            <input name='search-input' class='text-center bg-gray c-gold border rounded border-warning' 
            placeholder='Any keyword...'>
            <button type='submit' class='fas fa-search bg-dark btn btn-outline-warning' href=""></button>
        </form>
    </div>
</div>

<div class='container mt-4'>
    {% for effect in effects %}

        <div class='col' id='effect{{ effect.id }}'>
            <h4 onclick="showDescription('{{ effect.id }}')" class='c-gold bg-dark border rounded border-warning text-center p-1'>
                {{ effect.name }}
            </h4>
            <div class='row-cols-auto d-none' id='desc{{ effect.id }}'>
                <p class='ms-3 me-3 text-primary bg-dark border rounded border-primary text-center p-2'>
                    {{ effect.desc }} 
                    {% if effect.time == 105 %}[{% if effect.bonus >= 0 %}+{% endif %}{{ effect.bonus }}; T: PERM]
                    {% elif effect.time == 666 %}[{% if effect.bonus >= 0 %}+{% endif %}{{ effect.bonus }}; T: ?]
                    {% elif effect.time == 999 %}[{% if effect.bonus >= 0 %}+{% endif %}{{ effect.bonus }}; T: X]
                    
                    {% else %}[{% if effect.bonus >= 0 %}+{% endif %}{{ effect.bonus }}; T{{ effect.time }}]
                    {% endif %}
                </p>
            </div>
        </div>

    {% endfor %}
</div>


<script>
    document.getElementById('tb-info').classList.remove('btn-outline-warning');
    document.getElementById('tb-info').classList.add('btn-outline-primary');

    function showDescription(id){
        let element = document.getElementById('desc'+id.toString());
        let effect = document.getElementById('effect'+id.toString()).children[0];

        if (element.classList.contains('d-none')){
            element.classList.remove('d-none');
            effect.classList.remove('c-gold');
            effect.classList.add('text-primary');
        } else {
            element.classList.add('d-none');
            effect.classList.remove('text-primary');
            effect.classList.add('c-gold');
        }
    } 
</script>

{% endblock content %}