{% extends 'master.html' %}

{% block content %}
{% include 'top_bar.html' %}

<div class='container'>

    <div class='row mt-5'>
        <a class='col btn btn-dark btn-outline-warning m-3 c-gold'
            href='city' >
            City
        </a>
    </div>

    <div class='row mt-1'>
        <a class='col btn btn-dark btn-outline-warning m-3 c-gold'
            href='acc-rules/' >
            Weapons
        </a>
    </div>

    <div class='row mt-1'>
        <a class='col btn btn-dark btn-outline-warning m-3 c-gold'
            href='effects/' >
            Effects
        </a>
    </div>

    <div class='row mt-1'>
        <a class='col btn btn-dark btn-outline-warning m-3 c-gold'
            href='https://docs.google.com/document/d/1A-AM1SF78bhQ0blRxf06kb7VQ9WMYVeSN4VhOn3j53g/edit?usp=sharing' target='_blank'>
            Classes
        </a>
    </div>

    <div class='row mt-1'>
        <a class='col btn btn-dark btn-outline-warning m-3 c-gold'
            href='https://docs.google.com/document/d/1-v1iUAAMa5P62GotcEOsj89H0ntl7CHtrTYfwtNVW9g/edit?usp=sharing' target='_blank'>
            Races
        </a>
    </div>

</div>

<script>
    document.getElementById('tb-info').classList.remove('btn-outline-warning')
    document.getElementById('tb-info').classList.add('btn-outline-primary')
</script>

{% endblock content %}