{% extends 'master.html' %}
{% load filters %}

{% block content %}
{% include 'top_bar.html' %}

<div class='container mt-3'>

    <div class='row text-border-black'>
        <div class='col text-center c-gold fst-italic'>
            <h1 id="item-name">{{ item.name }}</h1>
        </div>
    </div>

    <div class='row mt-2 text-border-black'>
        <div class='col text-center c-gold fst-italic'>
            <h2>
                Type: 
                {% if item.weight < 4 %}
                    Light
                {% elif item.weight < 7 %}
                    Medium
                {% else %}
                    Heavy
                {% endif %}
                {{ item.type }}
            </h2>
        </div>
    </div>

    <div class='row mt-2 text-border-black'>
        <div class='col text-center c-gold fst-italic'>
            <h2>
                <span>Rarity: </span>
                <span class="{{ item.rarity }}">{{ item.rarity }}</span>
            </h2>
        </div>
    </div>

    <div class='row mt-4'>
        <div class='col bg-opacity-75 text-center c-gold bg-dark border border-warning rounded ms-5 me-5 p-1 pt-2'>
            {% if item.name|isShield %}
                <h2>Block: {{ item.block }}</h2>
            {% elif item.name|isArmor %}
                <h2>Armor: {{ item.armor }}</h2>
            {% elif item.type == 'Other' %}
                <h2>Usable or valuable item</h2>
            {% elif item.type == 'Animal' %}
                <h2>PŻ: {{ item.maxDurability }} | Armor: {{ item.armor }}</h2>
            {% else %}
                <h2>1K{% if item.diceBonus >= 0 %}+{% endif %}{{ item.diceBonus }}, {{ item.AP }}AP</h2>
            {% endif %}
        </div>
    </div>

    {% if item.skill != '' %}
        <div class='row'>
            <div class='col bg-opacity-75 text-center c-gold bg-dark rounded border border-warning border-top-0 ms-5 me-5 p-1 pt-2'>
                    {{ item.skill }}
            </div>
        </div>    
    {% endif %}

    <div class='row'>
        <div 
        class='col text-center c-gold bg-dark ms50 me50 bg-opacity-75 border border-warning border-top-0'
        onclick='showDesc()' id='desc-btn'
        >
            &darr;
        </div>
    </div>

    <div id='item_desc' class='d-none mt-3'>
        <div class='row'>
            <div 
            class='col text-center c-gold bg-dark ms50 me50 bg-opacity-75 border border-warning border-bottom-0'
            onclick='hideDesc()'
            >
                &uarr;
            </div>
        </div>
        <div class='row'>
            <div class='col bg-opacity-75 text-center c-gold bg-dark border border-warning rounded ms-5 me-5 p-2 fst-italic'>
                {{ item.desc }}
            </div>
        </div>
    </div>

    <div class='row mt-5 c-gold text-center'>
        <div class='col bg-dark p-2 border border-warning rounded ms-3 me-3'>
            <h5>Price: {{ item.price }}</h5>
        </div>
        <div class='col bg-dark p-2 border border-warning rounded ms-2 me-2'>
            {% if item.type == 'Animal' %}
            <h5>Extra capacity: +{{ item.diceBonus }}kg</h5>
            {% else %}
            <h5>Weight: {{ item.weight }}kg</h5>
            {% endif %}
        </div>
    </div>

</div>

<script>
    document.title = document.getElementById("item-name").innerHTML + " | DunnoRPG"
    document.getElementById('tb-items').classList.remove('btn-outline-warning')
    document.getElementById('tb-items').classList.add('btn-outline-primary')

    function showDesc(){
        document.getElementById('desc-btn').classList.add('d-none')
        document.getElementById('item_desc').classList.remove('d-none')
    }

    function hideDesc(instance){
        document.getElementById('item_desc').classList.add('d-none')
        document.getElementById('desc-btn').classList.remove('d-none')
    }
</script>

{% endblock content %}