{% extends 'master.html' %}
{% load filters %}

{% block content %}
{% include 'top_bar.html' %}

<div class='container mt-0'>

    <div id='info-card' class="container card-body text-center c-gold border border-warning bg-dark rounded position-fixed m-0 p-0 pb-3 d-none mt-5" 
    style="width: 98%; z-index: 5; margin-left: -0.5rem !important; margin-top: -1rem !important;">
        <h3 class="mt-1" id="info-card-topic"></h3>

        <div class="row">
            <div class="col c-gold text-start ps-5 pe-5">
                <span class="h6" id="info-card-content"></span>
            </div>
        </div>

        <div class="row m-0 p-0 mt-3">
            <div class="col">
                <button class="btn btn-success w-100" onclick="show_or_hideById('info-card')">OK</button>
            </div>
        </div>
    </div>

    <div id='iframe-card' class="container position-fixed m-0 p-0 pb-3 mt-0 d-none" 
    style="width: 98%; z-index: 5; margin-left: 0.22rem !important; margin-top: -5rem !important">
        <div class="row">
            <div class="col c-gold p-0">
                <button class='btn btn-dark btn-outline-danger w-100' onclick="show_or_hideById('iframe-card')">X Zamknij podgląd umiejętności X</button>
            </div>
        </div>

        <div class="row w-100" style="height: 35rem !important;">
            <div class="col c-gold text-start p-0">
                <iframe src="/dunnorpg/skills/1" class="border border-warning w-100 h-100" id="iframe"></iframe>
            </div>
        </div>
    </div>

    {% if item.type == 'Animal' %}
        <div class='row text-border-black'>
            <div class='col text-center c-gold fst-italic m-0 p-0 border-end border-bottom border-warning bg-dark bg-gradient'>
                <h2>
                    Rozmiar:<br>
                    {% if item.size == 0.5 %}Mały
                    {% elif item.size == 1 %}Średni
                    {% elif item.size == 1.5 %}Duży
                    {% else %}{{ item.size }}{% endif %}
                </h2>
            </div>
            <div class='col text-center c-gold fst-italic m-0 p-0 border-bottom border-warning bg-dark bg-gradient'>
                <h2>
                    Zasięg ruchu:<br>{{ item.mobility }}
                </h2>
            </div>
        </div>
    {% elif item.category|slice:":7" == 'weapon_' %}
        <div class='row text-border-black'>
            <div class='col text-center c-gold fst-italic m-0 p-0 border-end border-bottom border-warning bg-dark bg-gradient'>
                <h2>
                    Wytrzymałość:<br> {{ item.maxDurability }}
                </h2>
            </div>
            <div class='col text-center c-gold fst-italic m-0 p-0 border-bottom border-warning bg-dark bg-gradient'>
                <h2>
                    Zasięg:<br>{{ item.name|getItemRange }}
                </h2>
            </div>
        </div>
        <div class='row text-border-black'>
            <div class='col text-center c-gold fst-italic m-0 p-0 border-end border-bottom border-warning bg-dark bg-gradient'>
                <h2>
                    {% if item.dmg_type and item.dmg_type != 'None' and item.dmg_type != '-' %}
                    Obrażenia:<br>{{ item.dmg_type }}
                    {% else %}-{% endif %}
                </h2>
            </div>
            <div class='col text-center c-gold fst-italic m-0 p-0 border-bottom border-warning bg-dark bg-gradient'>
                <h2>
                    Trafienie od:<br>{{ item.neededAccuraccy }} CEL
                </h2>
            </div>
        </div>
    {% else %}
        <div class='row text-border-black'>
            <div class='col text-center c-gold fst-italic m-0 p-0 border-end border-bottom border-warning bg-dark bg-gradient'>
                <h2>
                    Wytrzymałość:<br> {{ item.maxDurability }}
                </h2>
            </div>
            {% if item.on_use and item.on_use != '-' %}
                <div class='col text-center c-gold fst-italic m-0 p-0 border-end border-bottom border-warning bg-dark bg-gradient'>
                    <h2>
                        Koszt użycia:<br> {{ item.use_cost }}
                    </h2>
                </div>
            {% endif %}
            {% if item.range != 0 %}
                <div class='col text-center c-gold fst-italic m-0 p-0 border-end border-bottom border-warning bg-dark bg-gradient'>
                    <h2>
                        Zasięg: <br>{{ item.name|getItemRange }}
                    </h2>
                </div>
            {% endif %}
            {% if item.dmg_type and item.dmg_type != 'None' and item.dmg_type != '-' %}
                <div class='col text-center c-gold fst-italic m-0 p-0 border-end border-bottom border-warning bg-dark bg-gradient'>
                    <h2>
                        Obrażenia:<br>{{ item.dmg_type }}
                    </h2>
                </div>
            {% endif %}
        </div>
    {% endif %}

    <div class='row text-border-black mt-2'>
        <div class='col text-center c-gold fst-italic '>
            <h1 id="item-name" class="{{ item.rarity }}">
                {{ item.name }}
                {% if item.additionalInfo %}
                    <span
                    class="text-warning fst-italic ms-1"
                    style="cursor: pointer; -webkit-text-stroke: 1px black; text-shadow: 1px 1px 2px black;"
                    title="Pokaż ciekawostkę"
                    data-additional-info="{{ item.additionalInfo|escape }}"
                    onclick="showInfoCard('Ciekawostka', this.dataset.additionalInfo)"
                    >?</span>
                {% endif %}
                {% if user.is_superuser %}
                    <a href="/admin/DunnoRPG/items/{{ item.id }}/change/" class="ms-2 fa fa-link {{ item.rarity }}" target="_blank"></a>
                {% endif %}
            </h1>
        </div>
    </div>

    <div class='row mt-2 text-border-black'>
        <div class='col text-center c-gold fst-italic m-0 p-0'>
            <h2>
                Typ: {{ item.type|itemTypePl }}{% if item.armor_weight %} ({{ item.armor_weight|armorWeightPlPlural }}){% endif %} {% if item.dualHanded %}(Dwuręczne){% endif %}
            </h2>
        </div>
    </div>

    <div class='row mt-4'>
        <div class='col bg-opacity-75 text-center c-gold bg-dark border border-warning rounded ms-1 me-1 p-1 pt-2'>
            {% if item.name|isShield %}
                <h2>Blok: {{ item.block }}</h2>
            {% elif item.name|isArmor %}
                <h2>Pancerz: {{ item.armor }}</h2>
            {% elif item.type == 'Other' %}
                {% if item.on_use and item.on_use != '-' %}
                    <h2>Możliwość użycia ({% if item.use_amount %}{{ item.use_amount }}{% else %}1{% endif %})</h2>
                {% else %}
                    <h2>Nie można użyć</h2>
                {% endif %}
            {% elif item.type == 'Animal' %}
                <h2>PŻ: {{ item.maxDurability }} | Pancerz: {{ item.armor }}</h2>
            {% elif item.category == 'animal_horseshoes' or item.category == 'animal_saddle' %}
                {% if item.on_use and item.on_use != '-' %}
                    <h2>Możliwość użycia ({% if item.use_amount %}{{ item.use_amount }}{% else %}1{% endif %})</h2>
                {% else %}
                    <h2>Wyposażenie wierzchowca</h2>
                {% endif %}
            {% else %}
                <h2>{{ item.dmgDice }}, AP: {{ item.AP }}% <!-- 1K{% if item.diceBonus >= 0 %}+{% endif %}{{ item.diceBonus }}, {{ item.AP }}AP --></h2>
            {% endif %}
        </div>
    </div>

    {% if item.skill != '' or user.is_superuser and item.hiddenSkill %}
        <div class='row'>
            <div class='col bg-opacity-75 text-center c-gold bg-dark rounded border border-warning border-top-0 ms-1 me-1 p-1 pt-2'>
                    {{ item.skill|itemSkillWithLinks }}{% if user.is_superuser and item.hiddenSkill %}{% if item.skill %} | {% endif %}{{ item.hiddenSkill|itemSkillWithLinks }}{% endif %}
            </div>
        </div>    
    {% endif %}

    <div class='row'>
        <div 
        class='col text-center c-gold bg-dark ms50 me50 bg-opacity-75 border border-warning border-top-0 d-none'
        onclick='showDesc()' id='desc-btn'
        >
            &darr;
        </div>
    </div>

    <div id='item_desc' class='mt-3'>
        <div class='row'>
            <div 
            class='col text-center c-gold bg-dark ms50 me50 bg-opacity-75 border border-warning border-bottom-0 bg-gradient'
            onclick='hideDesc()'
            >
                &uarr;
            </div>
        </div>
        <div class='row'>
            <div class='col bg-opacity-75 text-center c-gold bg-dark border border-warning rounded ms-1 me-1 p-2 fst-italic bg-gradient'>
                {{ item.desc }}
                {% if additional_description %}
                    <div class="mt-3">{{ additional_description }}</div>
                {% endif %}
            </div>
        </div>
    </div>

    {% if item.category == 'animal_horseshoes' or item.category == 'animal_saddle' %}
        <div class='row mt-5 c-gold text-center mb-1'>
            {% if item.armor > 0 %}
                <div class='col bg-dark p-2 border border-warning rounded ms-3 me-2'>
                    <h5>Pancerz: {{ item.armor }}</h5>
                </div>
                <div class='col bg-dark p-2 border border-warning rounded ms-2 me-3'>
                    <h5>Udźwig: +{{ item.extra_capacity }}kg</h5>
                </div>
            {% else %}
                <div class='col bg-dark p-2 border border-warning rounded ms-3 me-3'>
                    <h5>Udźwig: +{{ item.extra_capacity }}kg</h5>
                </div>
            {% endif %}
        </div>
        <div class='row c-gold text-center mb-1'>
            <div class='col bg-dark p-2 border border-warning rounded ms-3 me-2'>
                <h5>Cena: {{ item.price }}</h5>
            </div>
            <div class='col bg-dark p-2 border border-warning rounded ms-2 me-3'>
                <h5>Waga: {{ item.weight }}kg</h5>
            </div>
        </div>
    {% else %}
        <div class='row mt-5 c-gold text-center mb-1'>
            <div class='col bg-dark p-2 border border-warning rounded ms-3 me-3'>
                <h5>Cena: {{ item.price }}</h5>
            </div>
            <div class='col bg-dark p-2 border border-warning rounded ms-2 me-2'>
                <h5>Waga: {{ item.weight }}kg</h5>
            </div>
            {% if item.extra_capacity > 0 %}
            <div class='col bg-dark p-2 border border-warning rounded ms-2 me-2'>
                <h5>Udźwig: +{{ item.extra_capacity }}kg</h5>
            </div>
            {% endif %}
        </div>
    {% endif %}

    {% if item.ammo_type and item.ammo_type != 'None' and item.ammo_type != '-' %}
        <div class='row text-border-black mt-2'>
            <div class='col text-center c-gold fst-italic m-0 p-0 border-bottom border-top border-warning bg-dark bg-gradient'>
                <h2>
                    Amunicja: <br>{{ item.ammo_type|ammoTypePl }}
                </h2>
            </div>
        </div>
    {% endif %}
        {% if item.altAttack != 'None' %}
            <div class='row text-border-black'>
                <div class='col text-center c-gold fst-italic m-0 p-0 border-bottom border-top border-warning bg-dark bg-gradient'>
                    <h2>
                        Alternatywny atak: <br>{{ item.altAttack }}
                    </h2>
                </div>
            </div>
        {% endif %}
</div>

<script>
    document.title = document.getElementById("item-name").innerHTML + " | DunnoRPG"
    document.getElementById('tb-items').classList.remove('btn-outline-warning')
    document.getElementById('tb-items').classList.add('btn-outline-primary')

    function showDesc(){
        document.getElementById('desc-btn').classList.add('d-none')
        document.getElementById('item_desc').classList.remove('d-none')
    }

    function hideDesc(instance){
        document.getElementById('item_desc').classList.add('d-none')
        document.getElementById('desc-btn').classList.remove('d-none')
    }

    function showInfoCard(title, text){
        let card = document.getElementById("info-card")
        let topic = document.getElementById("info-card-topic")
        let content = document.getElementById("info-card-content")

        card.classList.remove("d-none")
        topic.textContent = title
        content.textContent = text
    }

    function show_or_hideById(id){
        let element = document.getElementById(id)
        if (element.classList.contains('d-none')){
            element.classList.remove('d-none')
        }
        else{
            element.classList.add('d-none')
        }
    }

    function showIframe(skill_src){
        if(skill_src!=''){
            let iframe = document.getElementById("iframe")
            let iframe_div = document.getElementById("iframe-card")

            iframe.src = skill_src
            iframe_div.classList.remove("d-none")
        }
    }
</script>

{% endblock content %}
