{% extends 'master.html' %}

{% block content %}
{% include 'top_bar.html' %}
<script>
    document.getElementById('tb-items').classList.remove('btn-outline-warning')
    document.getElementById('tb-items').classList.add('btn-outline-primary')
    function show_or_hideById(instance){
        block = document.getElementById(instance.innerHTML.trim())
        document.getElementById('search-result').classList.add('d-none')

        if(block.classList.contains('d-none')){
            block.classList.remove('d-none')
            instance.classList.remove('border-warning')
            instance.classList.add('border-primary')
        }
        else{
            block.classList.add('d-none')
            instance.classList.remove('border-primary')
            instance.classList.add('border-warning')
        }
    }
</script>

<div name='bar' class='container mt-1'>
    <div class='row bg-gray border border-warning rounded'>

        <div class='col btn btn-dark btn-outline-warning p-2 m-2' onclick='show_or_hideById(this)'>
            Singlehand 
        </div>

        <div class='col btn btn-dark btn-outline-warning p-2 m-2' onclick='show_or_hideById(this)'>
            Twohand
        </div>

        <div class='col btn btn-dark btn-outline-warning p-2 m-2' onclick='show_or_hideById(this)'>
            Helmets
        </div>

        <div class='col btn btn-dark btn-outline-warning p-2 m-2' onclick='show_or_hideById(this)'>
            Torso
        </div>

        <div class='col btn btn-dark btn-outline-warning p-2 m-2' onclick='show_or_hideById(this)'>
            Boots
        </div>

        <div class='col btn btn-dark btn-outline-warning p-2 m-2' onclick='show_or_hideById(this)'>
            Gloves
        </div>

        <div class='col btn btn-dark btn-outline-warning p-2 m-2' onclick='show_or_hideById(this)'>
            Amulets
        </div>

        <div class='col btn btn-dark btn-outline-warning p-2 m-2' onclick='show_or_hideById(this)'>
            Other
        </div>

    </div>
</div>

<div class='container mt-2'>
    <div class='row text-center'>
        <form action="{% url 'items' view.kwargs.char_id %}" method='GET' class='container-fluid'>
            <input name='search' class='text-center bg-gray c-gold border rounded border-warning' 
            placeholder="Item's name...">
            <button type='submit' class='fas fa-search bg-dark btn btn-outline-warning' href=""></button>
        </form>
    </div>
</div>

<div id='search-result' class='container'>
    {% for item in items %}
    <div>
        <div class='row bg-dark bg-opacity-75 rounded m-2 p-2'>
            {% if user.is_superuser %}
            <a class='col-3 btn btn-danger' href='setFound-{{ item.id }}-0'>
                Unfound
            </a>                
            {% endif %}
            <a class='col text-center c-gold bg-dark p-2 rounded border border-primary' href='{{ item.id }}'> 
                <span
                {% if item.rarity == 'neutral-low' or item.rarity == 'start-weapon' %}style='color: dimgray;'{% endif %}
                {% if item.rarity == 'neutral-high' %}style='color: silver;'{% endif %}
                {% if item.rarity == 'unique' %}style='color: #0ec800;'{% endif %}
                {% if item.rarity == 'magical' %}style='color: blue;'{% endif %}
                {% if item.rarity == 'uncommon' %}style='color: #b401b4;'{% endif %} 
                >{{ item.name }} {% if item.dur %}({{ item.dur }}/{{ item.max_dur }}){% endif %}</span>
            </a>
            {% if user.is_superuser %}
                <a class='col-3 btn btn-success' href='setFound-{{ item.id }}-1'>
                    {% if item.found == True %}
                        Already found
                    {% else %}
                        Found
                    {% endif %}
                </a> 
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<div id='Singlehand' class='container d-none'>
    {% for item in items_singlehand %}
        <div>
            <div class='row bg-dark bg-opacity-75 rounded m-2 p-2'>
                {% if user.is_superuser %}
                <a class='col-3 btn btn-danger' href='setFound-{{ item.id }}-0'>
                    Unfound
                </a>                
                {% endif %}
                <a class='col text-center c-gold bg-dark p-2 rounded border border-primary' href='{{ item.id }}'> 
                    <span
                    {% if item.rarity == 'neutral-low' or item.rarity == 'start-weapon' %}style='color: dimgray;'{% endif %}
                    {% if item.rarity == 'neutral-high' %}style='color: silver;'{% endif %}
                    {% if item.rarity == 'unique' %}style='color: #0ec800;'{% endif %}
                    {% if item.rarity == 'magical' %}style='color: blue;'{% endif %}
                    {% if item.rarity == 'uncommon' %}style='color: #b401b4;'{% endif %} 
                    >{{ item.name }}</span>
                </a>
                {% if user.is_superuser %}
                <a class='col-3 btn btn-success' href='setFound-{{ item.id }}-1'>
                    {% if item.found == True %}
                        Already found
                    {% else %}
                        Found
                    {% endif %}
                </a>  
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

<div id='Twohand' class='container d-none'>
    {% for item in items_twohand %}
    <div>
        <div class='row bg-dark bg-opacity-75 rounded m-2 p-2'>
            {% if user.is_superuser %}
            <a class='col-3 btn btn-danger' href='setFound-{{ item.id }}-0'>
                Unfound
            </a>                
            {% endif %}
            <a class='col text-center c-gold bg-dark p-2 rounded border border-primary' href='{{ item.id }}'> 
                <span
                {% if item.rarity == 'neutral-low' or item.rarity == 'start-weapon' %}style='color: dimgray;'{% endif %}
                {% if item.rarity == 'neutral-high' %}style='color: silver;'{% endif %}
                {% if item.rarity == 'unique' %}style='color: #0ec800;'{% endif %}
                {% if item.rarity == 'magical' %}style='color: blue;'{% endif %}
                {% if item.rarity == 'uncommon' %}style='color: #b401b4;'{% endif %} 
                >{{ item.name }}</span>
            </a>
            {% if user.is_superuser %}
                <a class='col-3 btn btn-success' href='setFound-{{ item.id }}-1'>
                    {% if item.found == True %}
                        Already found
                    {% else %}
                        Found
                    {% endif %}
                </a> 
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<div id='Helmets' class='container d-none'>
    {% for item in items_helmet %}
    <div>
        <div class='row bg-dark bg-opacity-75 rounded m-2 p-2'>
            {% if user.is_superuser %}
            <a class='col-3 btn btn-danger' href='setFound-{{ item.id }}-0'>
                Unfound
            </a>                
            {% endif %}
            <a class='col text-center c-gold bg-dark p-2 rounded border border-primary' href='{{ item.id }}'> 
                <span
                {% if item.rarity == 'neutral-low' or item.rarity == 'start-weapon' %}style='color: dimgray;'{% endif %}
                {% if item.rarity == 'neutral-high' %}style='color: silver;'{% endif %}
                {% if item.rarity == 'unique' %}style='color: #0ec800;'{% endif %}
                {% if item.rarity == 'magical' %}style='color: blue;'{% endif %}
                {% if item.rarity == 'uncommon' %}style='color: #b401b4;'{% endif %} 
                >{{ item.name }}</span>
            </a>
            {% if user.is_superuser %}
                <a class='col-3 btn btn-success' href='setFound-{{ item.id }}-1'>
                    {% if item.found == True %}
                        Already found
                    {% else %}
                        Found
                    {% endif %}
                </a> 
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<div id='Torso' class='container d-none'>
    {% for item in items_torso %}
    <div>
        <div class='row bg-dark bg-opacity-75 rounded m-2 p-2'>
            {% if user.is_superuser %}
            <a class='col-3 btn btn-danger' href='setFound-{{ item.id }}-0'>
                Unfound
            </a>                
            {% endif %}
            <a class='col text-center c-gold bg-dark p-2 rounded border border-primary' href='{{ item.id }}'> 
                <span
                {% if item.rarity == 'neutral-low' or item.rarity == 'start-weapon' %}style='color: dimgray;'{% endif %}
                {% if item.rarity == 'neutral-high' %}style='color: silver;'{% endif %}
                {% if item.rarity == 'unique' %}style='color: #0ec800;'{% endif %}
                {% if item.rarity == 'magical' %}style='color: blue;'{% endif %}
                {% if item.rarity == 'uncommon' %}style='color: #b401b4;'{% endif %} 
                >{{ item.name }}</span>
            </a>
            {% if user.is_superuser %}
                <a class='col-3 btn btn-success' href='setFound-{{ item.id }}-1'>
                    {% if item.found == True %}
                        Already found
                    {% else %}
                        Found
                    {% endif %}
                </a> 
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<div id='Boots' class='container d-none'>
    {% for item in items_boots %}
    <div>
        <div class='row bg-dark bg-opacity-75 rounded m-2 p-2'>
            {% if user.is_superuser %}
            <a class='col-3 btn btn-danger' href='setFound-{{ item.id }}-0'>
                Unfound
            </a>                
            {% endif %}
            <a class='col text-center c-gold bg-dark p-2 rounded border border-primary' href='{{ item.id }}'> 
                <span
                {% if item.rarity == 'neutral-low' or item.rarity == 'start-weapon' %}style='color: dimgray;'{% endif %}
                {% if item.rarity == 'neutral-high' %}style='color: silver;'{% endif %}
                {% if item.rarity == 'unique' %}style='color: #0ec800;'{% endif %}
                {% if item.rarity == 'magical' %}style='color: blue;'{% endif %}
                {% if item.rarity == 'uncommon' %}style='color: #b401b4;'{% endif %} 
                >{{ item.name }}</span>
            </a>
            {% if user.is_superuser %}
                <a class='col-3 btn btn-success' href='setFound-{{ item.id }}-1'>
                    {% if item.found == True %}
                        Already found
                    {% else %}
                        Found
                    {% endif %}
                </a> 
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<div id='Gloves' class='container d-none'>
    {% for item in items_gloves %}
    <div>
        <div class='row bg-dark bg-opacity-75 rounded m-2 p-2'>
            {% if user.is_superuser %}
            <a class='col-3 btn btn-danger' href='setFound-{{ item.id }}-0'>
                Unfound
            </a>                
            {% endif %}
            <a class='col text-center c-gold bg-dark p-2 rounded border border-primary' href='{{ item.id }}'> 
                <span
                {% if item.rarity == 'neutral-low' or item.rarity == 'start-weapon' %}style='color: dimgray;'{% endif %}
                {% if item.rarity == 'neutral-high' %}style='color: silver;'{% endif %}
                {% if item.rarity == 'unique' %}style='color: #0ec800;'{% endif %}
                {% if item.rarity == 'magical' %}style='color: blue;'{% endif %}
                {% if item.rarity == 'uncommon' %}style='color: #b401b4;'{% endif %} 
                >{{ item.name }}</span>
            </a>
            {% if user.is_superuser %}
                <a class='col-3 btn btn-success' href='setFound-{{ item.id }}-1'>
                    {% if item.found == True %}
                        Already found
                    {% else %}
                        Found
                    {% endif %}
                </a> 
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<div id='Amulets' class='container d-none'>
    {% for item in items_amulets %}
    <div>
        <div class='row bg-dark bg-opacity-75 rounded m-2 p-2'>
            {% if user.is_superuser %}
            <a class='col-3 btn btn-danger' href='setFound-{{ item.id }}-0'>
                Unfound
            </a>                
            {% endif %}
            <a class='col text-center c-gold bg-dark p-2 rounded border border-primary' href='{{ item.id }}'> 
                <span
                {% if item.rarity == 'neutral-low' or item.rarity == 'start-weapon' %}style='color: dimgray;'{% endif %}
                {% if item.rarity == 'neutral-high' %}style='color: silver;'{% endif %}
                {% if item.rarity == 'unique' %}style='color: #0ec800;'{% endif %}
                {% if item.rarity == 'magical' %}style='color: blue;'{% endif %}
                {% if item.rarity == 'uncommon' %}style='color: #b401b4;'{% endif %} 
                >{{ item.name }}</span>
            </a>
            {% if user.is_superuser %}
                <a class='col-3 btn btn-success' href='setFound-{{ item.id }}-1'>
                    {% if item.found == True %}
                        Already found
                    {% else %}
                        Found
                    {% endif %}
                </a> 
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<div id='Other' class='container d-none'>
    {% for item in items_other %}
    <div>
        <div class='row bg-dark bg-opacity-75 rounded m-2 p-2'>
            {% if user.is_superuser %}
            <a class='col-3 btn btn-danger' href='setFound-{{ item.id }}-0'>
                Unfound
            </a>                
            {% endif %}
            <a class='col text-center c-gold bg-dark p-2 rounded border border-primary' href='{{ item.id }}'> 
                <span
                {% if item.rarity == 'neutral-low' or item.rarity == 'start-weapon' %}style='color: dimgray;'{% endif %}
                {% if item.rarity == 'neutral-high' %}style='color: silver;'{% endif %}
                {% if item.rarity == 'unique' %}style='color: #0ec800;'{% endif %}
                {% if item.rarity == 'magical' %}style='color: blue;'{% endif %}
                {% if item.rarity == 'uncommon' %}style='color: #b401b4;'{% endif %} 
                >{{ item.name }}</span>
            </a>
            {% if user.is_superuser %}
                <a class='col-3 btn btn-success' href='setFound-{{ item.id }}-1'>
                    {% if item.found == True %}
                        Already found
                    {% else %}
                        Found
                    {% endif %}
                </a> 
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}