{% extends 'master.html' %}

{% block content %}
{% include 'top_bar.html' %}
<script>
    function show_or_hideById(instance){
        block = document.getElementById(instance.innerHTML.trim())

        if(block.classList.contains('d-none')){
            block.classList.remove('d-none')
            instance.classList.remove('border-warning')
            instance.classList.add('border-primary')
        }
        else{
            block.classList.add('d-none')
            instance.classList.remove('border-primary')
            instance.classList.add('border-warning')
        }
    }
</script>

<div name='bar' class='container mt-1'>
    <div class='row d-none'>
        <div class='col text-center c-gold'>
            <h1 style='-webkit-text-stroke: 1px black;'>In development</h1>
        </div>
    </div>
    <div class='row bg-gray border border-warning rounded'>

        <div class='col btn btn-dark btn-outline-warning p-2 m-2' onclick='show_or_hideById(this)'>
            Singlehand 
        </div>

        <div class='col btn btn-dark btn-outline-warning p-2 m-2' onclick='show_or_hideById(this)'>
            Twohand
        </div>

        <div class='col btn btn-dark btn-outline-warning p-2 m-2' onclick='show_or_hideById(this)'>
            Helmets
        </div>

        <div class='col btn btn-dark btn-outline-warning p-2 m-2' onclick='show_or_hideById(this)'>
            Torso
        </div>

        <div class='col btn btn-dark btn-outline-warning p-2 m-2' onclick='show_or_hideById(this)'>
            Boots
        </div>

        <div class='col btn btn-dark btn-outline-warning p-2 m-2' onclick='show_or_hideById(this)'>
            Gloves
        </div>

    </div>
</div>

<div id='Singlehand' class='container'>
{% for item in items_singlehand %}
    <div class='row bg-dark border border-primary rounded m-2 p-2'>
        <a href='{{ item.id }}'>
        <div class='col text-center c-gold'>
            <span
            {% if item.maxDurability == 50 %}style='color: dimgray;'{% endif %}
            {% if item.maxDurability == 100 %}style='color: silver;'{% endif %}
            {% if item.maxDurability == 150 %}style='color: green;'{% endif %}
            {% if item.maxDurability == 200 %}style='color: blue;'{% endif %}
            {% if item.maxDurability == 250 %}style='color: purple;'{% endif %} 
            >{{ item.name }}</span>
        </div>
        </a>
    </div>
{% endfor %}
</div>

<div id='Twohand' class='container'>
    {% for item in items_twohand %}
        <div class='row bg-dark border border-primary rounded m-2 p-2'>
            <a href='{{ item.id }}'>
            <div class='col text-center c-gold'>
                <span
                {% if item.maxDurability == 50 %}style='color: dimgray;'{% endif %}
                {% if item.maxDurability == 100 %}style='color: silver;'{% endif %}
                {% if item.maxDurability == 150 %}style='color: green;'{% endif %}
                {% if item.maxDurability == 200 %}style='color: blue;'{% endif %}
                {% if item.maxDurability == 250 %}style='color: purple;'{% endif %} 
                >{{ item.name }}</span>
            </div>
            </a>
        </div>
    {% endfor %}
</div>

<div id='Helmets' class='container'>
    {% for item in items_helmet %}
        <div class='row bg-dark border border-primary rounded m-2 p-2'>
            <a href='{{ item.id }}'>
            <div class='col text-center c-gold'>
                <span
                {% if item.maxDurability == 50 %}style='color: dimgray;'{% endif %}
                {% if item.maxDurability == 100 %}style='color: silver;'{% endif %}
                {% if item.maxDurability == 150 %}style='color: green;'{% endif %}
                {% if item.maxDurability == 200 %}style='color: blue;'{% endif %}
                {% if item.maxDurability == 250 %}style='color: purple;'{% endif %} 
                >{{ item.name }}</span>
            </div>
            </a>
        </div>
    {% endfor %}
</div>

<div id='Torso' class='container'>
    {% for item in items_torso %}
        <div class='row bg-dark border border-primary rounded m-2 p-2'>
            <a href='{{ item.id }}'>
            <div class='col text-center c-gold'>
                <span
                {% if item.maxDurability == 50 %}style='color: dimgray;'{% endif %}
                {% if item.maxDurability == 100 %}style='color: silver;'{% endif %}
                {% if item.maxDurability == 150 %}style='color: green;'{% endif %}
                {% if item.maxDurability == 200 %}style='color: blue;'{% endif %}
                {% if item.maxDurability == 250 %}style='color: purple;'{% endif %} 
                >{{ item.name }}</span>
            </div>
            </a>
        </div>
    {% endfor %}
</div>

<div id='Boots' class='container'>
    {% for item in items_boots %}
        <div class='row bg-dark border border-primary rounded m-2 p-2'>
            <a href='{{ item.id }}'>
            <div class='col text-center c-gold'>
                <span
                {% if item.maxDurability == 50 %}style='color: dimgray;'{% endif %}
                {% if item.maxDurability == 100 %}style='color: silver;'{% endif %}
                {% if item.maxDurability == 150 %}style='color: green;'{% endif %}
                {% if item.maxDurability == 200 %}style='color: blue;'{% endif %}
                {% if item.maxDurability == 250 %}style='color: purple;'{% endif %} 
                >{{ item.name }}</span>
            </div>
            </a>
        </div>
    {% endfor %}
</div>

<div id='Gloves' class='container'>
    {% for item in items_gloves %}
        <div class='row bg-dark border border-primary rounded m-2 p-2'>
            <a href='{{ item.id }}'>
            <div class='col text-center c-gold'>
                <span
                {% if item.maxDurability == 50 %}style='color: dimgray;'{% endif %}
                {% if item.maxDurability == 100 %}style='color: silver;'{% endif %}
                {% if item.maxDurability == 150 %}style='color: green;'{% endif %}
                {% if item.maxDurability == 200 %}style='color: blue;'{% endif %}
                {% if item.maxDurability == 250 %}style='color: purple;'{% endif %} 
                >{{ item.name }}</span>
            </div>
            </a>
        </div>
    {% endfor %}
</div>

{% endblock content %}