{% extends 'master.html' %}

{% block content %}
{% include 'top_bar.html' %}
{% include 'dunnorpg/messages.html' %}

<div name='bar' class='container mt-1'>
    <div class='row bg-gray border border-warning rounded'>

        <div class='col btn btn-dark btn-outline-warning p-2 m-2' onclick='show_or_hideById(this)'>
            Singlehand 
        </div>

        <div class='col btn btn-dark btn-outline-warning p-2 m-2' onclick='show_or_hideById(this)'>
            Twohand
        </div>

        <div class='col btn btn-dark btn-outline-warning p-2 m-2' onclick='show_or_hideById(this)'>
            Helmets
        </div>

        <div class='col btn btn-dark btn-outline-warning p-2 m-2' onclick='show_or_hideById(this)'>
            Torso
        </div>

        <div class='col btn btn-dark btn-outline-warning p-2 m-2' onclick='show_or_hideById(this)'>
            Boots
        </div>

        <div class='col btn btn-dark btn-outline-warning p-2 m-2' onclick='show_or_hideById(this)'>
            Gloves
        </div>

        <div class='col btn btn-dark btn-outline-warning p-2 m-2' onclick='show_or_hideById(this)'>
            Amulets
        </div>

        <div class='col btn btn-dark btn-outline-warning p-2 m-2' onclick='show_or_hideById(this)'>
            Animals
        </div>

        <div class='col btn btn-dark btn-outline-warning p-2 m-2' onclick='show_or_hideById(this)'>
            Other
        </div>

    </div>
</div>

{% if view.kwargs.char_id != 0 %}
<div class='container mt-2'>
    <div class='row'>
        <div class="col-3"></div>
        <h1 class='col c-gold text-center' style='-webkit-text-stroke: 1px black;'>
            {{ current_weight }}/{{ max_weight }}kg
        </h1>
        <div class="col-3 text-start">
            <button class="btn btn-primary p-2" onclick="document.getElementById('give-item-main').classList.remove('d-none')">
                Transfer
            </button>
        </div>
    </div>
</div>

<div id='meta' class='d-none'>
    <span id='chid'>{{ view.kwargs.char_id }}</span>
</div>
{% endif %}

{% if view.kwargs.char_id == 0 %}
<div class='container mt-2'>
    <div class='row text-center'>
        <form action="{% url 'items' view.kwargs.char_id %}" method='GET' class='container-fluid'>
            <input name='search' class='text-center bg-gray c-gold border rounded border-warning' 
            placeholder="Item's name...">
            <button type='submit' class='fas fa-search bg-dark btn btn-outline-warning'></button>
        </form>
    </div>
</div>
{% endif %}

<div id='del-confirm' class='d-none position-fixed container-fluid'>
    <div class='row bg-dark c-gold rounded border border-warning mt-5 ms-5 me-5'>
      <div class='col text-center'>
        <h2 id='del-confirm-title' class='m-2 mt-5 fst-150'>Jesteś pewien?</h2>
        <a onclick='this.parentNode.parentNode.parentNode.classList.add("d-none")' class='btn btn-lg btn-outline-danger m-1 mb-5'>Nie</a>
        <a href='' id='del-confirm-positive' class='btn btn-lg btn-outline-success m-1 mb-5'>Tak</a>
      </div>
    </div>
</div>

<div id='give-item-main' class='d-none position-fixed container bg-dark c-gold rounded border border-warning' style="left: 10%; width: 80%; top: 45%">
    <div class='row'>
        <div class="col-2"></div>
        <div class='col text-center mt-3 h4'>Przekaż przedmiot</div>
        <button class='btn btn-danger col-2' onclick="this.parentNode.parentNode.classList.add('d-none')">X</button>
      </div>

    <div class="row m-2 mt-4">
        <div class="col text-center">
            <select id="give-item-id" class="text-center p-1 rounded bg-dark text-warning border border-warning">
                {% for item in player_items %}
                    <option value="{{ item.id }}">
                        {{ item.name }} ({{ item.durability }})
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row m-2 mt-4">
        <div class="col text-center">
            Do: <select id="give-character-id" class="text-center p-1 rounded bg-dark text-warning border border-warning">
                {% for character in characters %}
                    <option value="{{ character.id }}">
                        {{ character.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row m-2">
        <div class="col text-center">
            <button class="btn-lg btn-primary h4 mt-4" onclick="giveItem()">
                Przekaż
            </button>
        </div>
    </div>
</div>

<div id='sell-item-main' class='d-none position-fixed container bg-dark c-gold rounded border border-warning' style="left: 10%; width: 80%; bottom: 20%;">
    <div class='row'>
        <div class='col text-center'></div>
        <button class='btn btn-danger col-2' onclick="this.parentNode.parentNode.classList.add('d-none')">X</button>
      </div>

      <div class='row'>
        <div class='col text-center'>
            <h1 id="sell-item-name" class="fw-bold"></h1>
        </div>
      </div>

    <div class='row mt-2'>
      <div class='col text-center'>
        <h2 id='sell-item-title' class='m-2 mt-0 fst-150'>Co my tu mamy...</h2>
      </div>
    </div>

    <div class="row m-2">
        <div class="col text-center">
            <input type="checkbox" id="sell-item-negotiate" class="p-5"/> 
            <span class="h5" >Da radę więcej?</span>
        </div>
    </div>

    <div class="row m-2">
        <div class="col text-center">
            <button class="btn-lg btn-success fw-bold mt-4" id="sell-btn">
                Sprzedaj
            </button>
        </div>
    </div>
</div>

<div id='search-result' class='container'>
    {% for item in items %}
    <div>
        <div class='row bg-dark bg-opacity-75 rounded m-2 p-2'>
            {% if user.is_superuser %}
            <a class='col-3 btn btn-danger' href='setFound-{{ item.id }}-0-{{ view.kwargs.char_id }}'>
                Unfound
            </a>                
            {% endif %}

            {% if view.kwargs.char_id != 0 %}
                <button class='col-2 text-center text-white bg-danger p-2 m-1 rounded' onclick="deleteConfirmation('{{ item.name }}', {{ view.kwargs.char_id }}, {{ item.id }})">X</button>
            {% endif %}
            
            <a class='col text-center c-gold bg-dark p-2 rounded border border-primary' href='{{ item.id }}'> 
                <span
                {% if item.rarity == 'neutral-low' or item.rarity == 'start-weapon' %}style='color: dimgray;'{% endif %}
                {% if item.rarity == 'neutral-high' %}style='color: silver;'{% endif %}
                {% if item.rarity == 'unique' %}style='color: #0ec800;'{% endif %}
                {% if item.rarity == 'magical' %}style='color: #4a76c7;'{% endif %}
                {% if item.rarity == 'uncommon' %}style='color: #b401b4;'{% endif %} 
                >{{ item.name }} 
                {% if item.dur and item.type != 'Other' and item.type != 'Amulet' %}({{ item.dur }}/{{ item.max_dur }}){% endif %}
                {% if item.dur %} x{{ item.amount }}{% endif %}
                </span>
            </a>
            {% if view.kwargs.char_id != 0 %}
                <button class='col-2 text-center text-white bg-success p-2 m-1 rounded'
                onclick="sellConfirmation('{{ view.kwargs.char_id }}','{{ item.eq_id }}','{{ item.price }}','{{ item.dur }}','{{ item.max_dur }}','{{ item.name }}', '{{ item.amount }}', '{{ charisma }}')">
                Sell</button>
            {% endif %}
            {% if user.is_superuser %}
                <a class='col-3 ms-1 btn btn-success' href='setFound-{{ item.id }}-1-{{ view.kwargs.char_id }}'>
                    {% if item.found == True %}
                        Already found
                    {% else %}
                        Found
                    {% endif %}
                </a> 
            {% endif %}
        </div>
    </div>
    {% endfor %}

    {% if view.kwargs.char_id != 0 %}
        <div class='row bg-dark bg-opacity-75 rounded m-2 p-2 text-center'>
            <h1 onclick='show_or_hideById("adding-item", true, this)' class='col text-info fa fa-plus bg-dark p-2 border border-primary rounded'></h1>
            <div id='adding-item' class='col d-none'>
                <select id='selected-eq-add' class='bg-dark rounded border border-warning c-gold p-1 text-center'>
                    {% for item in all_items %}
                    <option id='{{ item.id }}' value='{{ item.name }}'>{{ item.name }}</option>
                    {% endfor %}
                </select><br>
                <input id='selected-eq-add-dur' type='number' min="0" placeholder='Item durability here :)' class='w-25 bg-dark c-gold m-1 text-center' value='50'/>
                <a onclick='makeAddToEqRequest()' class='btn btn-success m-1'>Add</a>
            </div>
        </div>    
    {% endif %}
    
</div>

<div id='Singlehand' class='container d-none'>
    {% for item in items_singlehand %}
        <div>
            <div class='row bg-dark bg-opacity-75 rounded m-2 p-2'>
                {% if user.is_superuser %}
                <a class='col-3 btn btn-danger' href='setFound-{{ item.id }}-0-{{ view.kwargs.char_id }}'>
                    Unfound
                </a>                
                {% endif %}

                {% if view.kwargs.char_id != 0 %}
                    <button class='col-2 text-center text-white bg-danger p-2 m-1 rounded' onclick="deleteConfirmation('{{ item.name }}', {{ view.kwargs.char_id }}, {{ item.id }})">X</button>
                {% endif %}
                
                <a class='col text-center c-gold bg-dark p-2 rounded border border-primary' href='{{ item.id }}'> 
                    <span class="{{ item.rarity }}">{{ item.name }}</span>
                </a>
                {% if user.is_superuser %}
                <a class='col-3 ms-1 btn btn-success' href='setFound-{{ item.id }}-1-{{ view.kwargs.char_id }}'>
                    {% if item.found == True %}
                        Already found
                    {% else %}
                        Found
                    {% endif %}
                </a>  
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

<div id='Twohand' class='container d-none'>
    {% for item in items_twohand %}
    <div>
        <div class='row bg-dark bg-opacity-75 rounded m-2 p-2'>
            {% if user.is_superuser %}
            <a class='col-3 btn btn-danger' href='setFound-{{ item.id }}-0-{{ view.kwargs.char_id }}'>
                Unfound
            </a>                
            {% endif %}

            {% if view.kwargs.char_id != 0 %}
                <button class='col-2 text-center text-white bg-danger p-2 m-1 rounded' onclick="deleteConfirmation('{{ item.name }}', {{ view.kwargs.char_id }}, {{ item.id }})">X</button>
            {% endif %}
            
            <a class='col text-center c-gold bg-dark p-2 rounded border border-primary' href='{{ item.id }}'> 
                <span class="{{ item.rarity }}">{{ item.name }}</span>
            </a>
            {% if user.is_superuser %}
                <a class='col-3 ms-1 btn btn-success' href='setFound-{{ item.id }}-1-{{ view.kwargs.char_id }}'>
                    {% if item.found == True %}
                        Already found
                    {% else %}
                        Found
                    {% endif %}
                </a> 
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<div id='Helmets' class='container d-none'>
    {% for item in items_helmet %}
    <div>
        <div class='row bg-dark bg-opacity-75 rounded m-2 p-2'>
            {% if user.is_superuser %}
            <a class='col-3 btn btn-danger' href='setFound-{{ item.id }}-0-{{ view.kwargs.char_id }}'>
                Unfound
            </a>                
            {% endif %}

            {% if view.kwargs.char_id != 0 %}
                <button class='col-2 text-center text-white bg-danger p-2 m-1 rounded' onclick="deleteConfirmation('{{ item.name }}', {{ view.kwargs.char_id }}, {{ item.id }})">X</button>
            {% endif %}
            
            <a class='col text-center c-gold bg-dark p-2 rounded border border-primary' href='{{ item.id }}'> 
                <span class="{{ item.rarity }}">{{ item.name }}</span>
            </a>
            {% if user.is_superuser %}
                <a class='col-3 ms-1 btn btn-success' href='setFound-{{ item.id }}-1-{{ view.kwargs.char_id }}'>
                    {% if item.found == True %}
                        Already found
                    {% else %}
                        Found
                    {% endif %}
                </a> 
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<div id='Torso' class='container d-none'>
    {% for item in items_torso %}
    <div>
        <div class='row bg-dark bg-opacity-75 rounded m-2 p-2'>
            {% if user.is_superuser %}
            <a class='col-3 btn btn-danger' href='setFound-{{ item.id }}-0-{{ view.kwargs.char_id }}'>
                Unfound
            </a>                
            {% endif %}

            {% if view.kwargs.char_id != 0 %}
                <button class='col-2 text-center text-white bg-danger p-2 m-1 rounded' onclick="deleteConfirmation('{{ item.name }}', {{ view.kwargs.char_id }}, {{ item.id }})">X</button>
            {% endif %}
            
            <a class='col text-center c-gold bg-dark p-2 rounded border border-primary' href='{{ item.id }}'> 
                <span class="{{ item.rarity }}">{{ item.name }}</span>
            </a>
            {% if user.is_superuser %}
                <a class='col-3 ms-1 btn btn-success' href='setFound-{{ item.id }}-1-{{ view.kwargs.char_id }}'>
                    {% if item.found == True %}
                        Already found
                    {% else %}
                        Found
                    {% endif %}
                </a> 
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<div id='Boots' class='container d-none'>
    {% for item in items_boots %}
    <div>
        <div class='row bg-dark bg-opacity-75 rounded m-2 p-2'>
            {% if user.is_superuser %}
            <a class='col-3 btn btn-danger' href='setFound-{{ item.id }}-0-{{ view.kwargs.char_id }}'>
                Unfound
            </a>                
            {% endif %}

            {% if view.kwargs.char_id != 0 %}
                <button class='col-2 text-center text-white bg-danger p-2 m-1 rounded' onclick="deleteConfirmation('{{ item.name }}', {{ view.kwargs.char_id }}, {{ item.id }})">X</button>
            {% endif %}
            
            <a class='col text-center c-gold bg-dark p-2 rounded border border-primary' href='{{ item.id }}'> 
                <span class="{{ item.rarity }}">{{ item.name }}</span>
            </a>
            {% if user.is_superuser %}
                <a class='col-3 ms-1 btn btn-success' href='setFound-{{ item.id }}-1-{{ view.kwargs.char_id }}'>
                    {% if item.found == True %}
                        Already found
                    {% else %}
                        Found
                    {% endif %}
                </a> 
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<div id='Gloves' class='container d-none'>
    {% for item in items_gloves %}
    <div>
        <div class='row bg-dark bg-opacity-75 rounded m-2 p-2'>
            {% if user.is_superuser %}
            <a class='col-3 btn btn-danger' href='setFound-{{ item.id }}-0-{{ view.kwargs.char_id }}'>
                Unfound
            </a>                
            {% endif %}

            {% if view.kwargs.char_id != 0 %}
                <button class='col-2 text-center text-white bg-danger p-2 m-1 rounded' onclick="deleteConfirmation('{{ item.name }}', {{ view.kwargs.char_id }}, {{ item.id }})">X</button>
            {% endif %}
            
            <a class='col text-center c-gold bg-dark p-2 rounded border border-primary' href='{{ item.id }}'> 
                <span class="{{ item.rarity }}">{{ item.name }}</span>
            </a>
            {% if user.is_superuser %}
                <a class='col-3 ms-1 btn btn-success' href='setFound-{{ item.id }}-1-{{ view.kwargs.char_id }}'>
                    {% if item.found == True %}
                        Already found
                    {% else %}
                        Found
                    {% endif %}
                </a> 
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<div id='Amulets' class='container d-none'>
    {% for item in items_amulets %}
    <div>
        <div class='row bg-dark bg-opacity-75 rounded m-2 p-2'>
            {% if user.is_superuser %}
            <a class='col-3 btn btn-danger' href='setFound-{{ item.id }}-0-{{ view.kwargs.char_id }}'>
                Unfound
            </a>                
            {% endif %}

            {% if view.kwargs.char_id != 0 %}
                <button class='col-2 text-center text-white bg-danger p-2 m-1 rounded' onclick="deleteConfirmation('{{ item.name }}', {{ view.kwargs.char_id }}, {{ item.id }})">X</button>
            {% endif %}
            
            <a class='col text-center c-gold bg-dark p-2 rounded border border-primary' href='{{ item.id }}'> 
                <span class="{{ item.rarity }}">{{ item.name }}</span>
            </a>
            {% if user.is_superuser %}
                <a class='col-3 ms-1 btn btn-success' href='setFound-{{ item.id }}-1-{{ view.kwargs.char_id }}'>
                    {% if item.found == True %}
                        Already found
                    {% else %}
                        Found
                    {% endif %}
                </a> 
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<div id='Animals' class='container d-none'>
    {% for item in animals %}
    <div>
        <div class='row bg-dark bg-opacity-75 rounded m-2 p-2'>
            {% if user.is_superuser %}
            <a class='col-3 btn btn-danger' href='setFound-{{ item.id }}-0-{{ view.kwargs.char_id }}'>
                Unfound
            </a>                
            {% endif %}

            {% if view.kwargs.char_id != 0 %}
                <button class='col-2 text-center text-white bg-danger p-2 m-1 rounded' onclick="deleteConfirmation('{{ item.name }}', {{ view.kwargs.char_id }}, {{ item.id }})">X</button>
            {% endif %}
            
            <a class='col text-center c-gold bg-dark p-2 rounded border border-primary' href='{{ item.id }}'> 
                <span class="{{ item.rarity }}">{{ item.name }}</span>
            </a>
            {% if user.is_superuser %}
                <a class='col-3 ms-1 btn btn-success' href='setFound-{{ item.id }}-1-{{ view.kwargs.char_id }}'>
                    {% if item.found == True %}
                        Already found
                    {% else %}
                        Found
                    {% endif %}
                </a> 
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<div id='Other' class='container d-none'>
    {% for item in items_other %}
    <div>
        <div class='row bg-dark bg-opacity-75 rounded m-2 p-2'>
            {% if user.is_superuser %}
            <a class='col-3 btn btn-danger' href='setFound-{{ item.id }}-0-{{ view.kwargs.char_id }}'>
                Unfound
            </a>                
            {% endif %}

            {% if view.kwargs.char_id != 0 %}
                <button class='col-2 text-center text-white bg-danger p-2 m-1 rounded' onclick="deleteConfirmation('{{ item.name }}', {{ view.kwargs.char_id }}, {{ item.id }})">X</button>
            {% endif %}
            
            <a class='col text-center c-gold bg-dark p-2 rounded border border-primary' href='{{ item.id }}'> 
                <span class="{{ item.rarity }}">{{ item.name }}</span>
            </a>
            {% if user.is_superuser %}
                <a class='col-3 ms-1 btn btn-success' href='setFound-{{ item.id }}-1-{{ view.kwargs.char_id }}'>
                    {% if item.found == True %}
                        Already found
                    {% else %}
                        Found
                    {% endif %}
                </a> 
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>


<script>
    document.getElementById('tb-items').classList.remove('btn-outline-warning')
    document.getElementById('tb-items').classList.add('btn-outline-primary')

    document.getElementById('selected-eq-add-dur').oninput = () => {
        document.getElementById('selected-eq-add-dur').setAttribute('value', document.getElementById('selected-eq-add-dur').value);
    }

    function show_or_hideById(instance, alt=false, alt_instance=null){
        if(alt){
            block = document.getElementById(instance)
            if(block.classList.contains('d-none')){
                block.classList.remove('d-none')
                alt_instance.classList.add('d-none')
            }
        }
        else{
            block = document.getElementById(instance.innerHTML.trim())
            document.getElementById('search-result').classList.add('d-none')
    
            if(block.classList.contains('d-none')){
                block.classList.remove('d-none')
                instance.classList.remove('border-warning')
                instance.classList.add('border-primary')
            }
            else{
                block.classList.add('d-none')
                instance.classList.remove('border-primary')
                instance.classList.add('border-warning')
            }
        }
    }

    function deleteConfirmation(name, chid, id){
        document.getElementById('del-confirm-title').innerHTML = "Usunąć "+name+"?"
    
        document.getElementById('del-confirm-positive').href = chid+'del'+id
        document.getElementById('del-confirm').classList.remove('d-none')
      }

    function sellConfirmation(chid, id, price, dur, maxDur, itemName, amount, charBonus){
        let main_block = document.getElementById("sell-item-main")
        let title = document.getElementById("sell-item-title")
        let item_name = document.getElementById("sell-item-name")
        let sell_btn = document.getElementById("sell-btn")

        let dur_perc = dur/maxDur
        let calc_price = parseInt(price*dur_perc*amount)
        let quality = ""

        if(dur_perc>0.90){
            quality = "dobry"
        }else if(dur_perc>0.75){
            quality = "sensowny"
        }else if(dur_perc>0.50){
            quality = "średni"
        }else if(dur_perc>0.25){
            quality = "kiepski"
        }else{
            quality = "tragiczny"
        }


        main_block.classList.remove("d-none")
        title.innerHTML = `Sprzedawca: Rzućmy okiem... No stan jest ${quality}, proponuję ${calc_price} monet.`
        item_name.innerHTML = itemName

        sell_btn.setAttribute("onclick", `sellItem(${id}, ${parseInt(charBonus)})`)
    }

    function sellItem(item_id, bonus){
        let isNegotiating = document.getElementById("sell-item-negotiate").checked
        let chid = document.getElementById('chid').innerHTML

        let selling_item_mod = 10
        if(isNegotiating){
            let dice = Math.floor(Math.random()*20)+1
            dice += bonus

            if(dice>=15){
                selling_item_mod = 15
            }else if(dice>=12){
                selling_item_mod = 12
            }
        }

        window.location.href = "sell"+item_id+";"+chid+";"+selling_item_mod

    }

    function giveItem(){
        let from_chid = document.getElementById('chid').innerHTML
        let to_chid = document.getElementById('give-character-id').value
        let item_id = document.getElementById('give-item-id').value

        window.location.href = "give"+item_id+";"+from_chid+";"+to_chid
    }

    function makeAddToEqRequest(){
        chid = document.getElementById('chid').innerHTML
        dur = document.getElementById('selected-eq-add-dur').getAttribute('value')
        it1 = document.getElementById('selected-eq-add')
        it1 = it1.options[it1.selectedIndex].id

        url = '/dunnorpg/makerequest/'+chid+';Items;Items;'+it1+';0;Equipment;eq_add-'+dur+'dur;items'
        window.location.replace(url)
    }
</script>

{% endblock content %}