{% extends 'master.html' %}
{% load filters %}

{% block content %}
{% include 'top_bar.html' %}

<div class='container mt-3'>

    <div class='row text-border-black'>
        <div class='col text-center c-gold fst-italic'>
            <h1 id="race-name">{{ race.name }}</h1>
        </div>
    </div>

    <div id='race_desc' class='mt-3'>
        <div class='row'>
            <div class='col bg-opacity-75 text-center c-gold bg-dark border border-warning rounded ms-5 me-5 p-2 fst-italic'>
                {{ race.desc }}
            </div>
        </div>
    </div>

    <div class='row mt-4'>
        <div class='col bg-opacity-75 text-center c-gold bg-dark border border-warning rounded ms-5 me-5 p-1 pt-2'>
                <h5>Umiejętności: {% for race in race.Skills %} {{ race }}{% if not forloop.last %}, {% endif %} {% endfor %}</h5>
        </div>
    </div>

    <!-- <div class='row'>
        <div class='col bg-opacity-75 text-center c-gold bg-dark rounded border border-warning border-top-0 ms-5 me-5 p-1 pt-2'>
            <h5>Efekty: {% for effect in class.effects %} {{ effect }}{% if not forloop.last %}, {% endif %} {% endfor %}</h5>
        </div>
    </div>    -->    

    <div class='row mt-4'>
        <div class='col bg-opacity-75 text-center c-gold bg-dark border border-warning rounded ms-5 me-5 p-1 pt-2'>
                <h5>(Dodatnie) Statystyki: {% for stat in race.statPlus %} {{ stat }}{% if not forloop.last %}, {% endif %} {% endfor %}</h5>
        </div>
        <div class='col bg-opacity-75 text-center c-gold bg-dark border border-warning rounded ms-5 me-5 p-1 pt-2'>
                <h5>(Ujemne) Statystyki: {% for stat in race.statMinus %} {{ stat }}{% if not forloop.last %}, {% endif %} {% endfor %}</h5>
        </div>
    </div>

    <div class='row mt-4'>
        <div class='col bg-opacity-75 text-center c-gold bg-dark border border-warning rounded ms-5 me-5 p-1 pt-2'>
                <h5>(+{{ race.weaponsBonus }}) Preferowane bronie: {% for weapon in race.weaponsPreffered %} {{ weapon|title }}{% if not forloop.last %}, {% endif %} {% endfor %}</h5>
        </div>
    </div>
    <div class='row mt-4'>
        <div class='col bg-opacity-75 text-center c-gold bg-dark border border-warning rounded ms-5 me-5 p-1 pt-2'>
                <h5>(-{{ race.weaponsBonus }}) Nielubiane bronie: {% for weapon in race.weaponsUnliked %} {{ weapon|title }}{% if not forloop.last %}, {% endif %} {% endfor %}</h5>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col"></div>
    </div>

</div>

<script>
    document.title = document.getElementById("class-name").innerHTML + " | DunnoRPG"

    function showDesc(){
        document.getElementById('desc-btn').classList.add('d-none')
        document.getElementById('class_desc').classList.remove('d-none')
    }

    function hideDesc(instance){
        document.getElementById('class_desc').classList.add('d-none')
        document.getElementById('desc-btn').classList.remove('d-none')
    }
</script>

{% endblock content %}