{% extends 'master.html' %}

{% block content %}
{% include 'top_bar.html' %}

<div class='container'>
    <div id='top' class='row mt-1 bg-gray p-1 rounded border border-warning'>
            {% for skill in skills %}
                    <button type='button' onclick="show(this)" class='col m-1 btn btn-dark btn-outline-warning'>{{ skill }}</button>
            {% endfor %}
    </div>
</div>

<div id='Magical' class='row bg-dark d-none ms-1 me-1 border border-primary rounded'>
    {% for skill in magical_skills %}
        <div class='col m-1 border border-warning rounded bg-gray text-center p-2'>
            <a title='{{ skill.desc }}' href='{{ skill.id }}/' class='h3 c-gold'>[{{ skill.number }}] {{ skill.name }}</a>
        </div>
    {% endfor %}
</div>

<div id='Melee' class='row bg-dark d-none ms-1 me-1 border border-primary rounded'>
    {% for skill in melee_skills %}
        <div class='col m-1 border border-warning rounded bg-gray text-center p-2'>
            <a title='{{ skill.desc }}' href='{{ skill.id }}/' class='h3 c-gold'>{{ skill.name }}</a>
        </div>
    {% endfor %}
</div>

<div id='Range' class='row bg-dark d-none ms-1 me-1 border border-primary rounded'>
    {% for skill in range_skills %}
        <div class='col m-1 border border-warning rounded bg-gray text-center p-2'>
            <a title='{{ skill.desc }}' href='{{ skill.id }}/' class='h3 c-gold'>{{ skill.name }}</a>
        </div>
    {% endfor %}
</div>

<div id='Agility' class='row bg-dark d-none ms-1 me-1 border border-primary rounded'>
    {% for skill in agility_skills %}
        <div class='col m-1 border border-warning rounded bg-gray text-center p-2'>
            <a title='{{ skill.desc }}' href='{{ skill.id }}/' class='h3 c-gold'>{{ skill.name }}</a>
        </div>
    {% endfor %}
</div>

<div id='Education' class='row bg-dark d-none ms-1 me-1 border border-primary rounded'>
    {% for skill in education_skills %}
        <div class='col m-1 border border-warning rounded bg-gray text-center p-2'>
            <a title='{{ skill.desc }}' href='{{ skill.id }}/' class='h3 c-gold'>{{ skill.name }}</a>
        </div>
    {% endfor %}
</div>

<div id='Animals' class='row bg-dark d-none ms-1 me-1 border border-primary rounded'>
    {% for skill in animals_skills %}
        <div class='col m-1 border border-warning rounded bg-gray text-center p-2'>
            <a title='{{ skill.desc }}' href='{{ skill.id }}/' class='h3 c-gold'>{{ skill.name }}</a>
        </div>
    {% endfor %}
</div>

<div id='Equipment' class='row bg-dark d-none ms-1 me-1 border border-primary rounded'>
    {% for skill in eq_skills %}
        <div class='col m-1 border border-warning rounded bg-gray text-center p-2'>
            <a title='{{ skill.desc }}' href='{{ skill.id }}/' class='h3 c-gold'>{{ skill.name }}</a>
        </div>
    {% endfor %}
</div>

<div id='Other' class='row bg-dark d-none ms-1 me-1 border border-primary rounded'>
    {% for skill in other_skills %}
        <div class='col m-1 border border-warning rounded bg-gray text-center p-2'>
            <a title='{{ skill.desc }}' href='{{ skill.id }}/' class='h3 c-gold'>{{ skill.name }}</a>
        </div>
    {% endfor %}
</div>

<script>
    document.getElementById('tb-skills').classList.remove('btn-outline-warning')
    document.getElementById('tb-skills').classList.add('btn-outline-primary')
    function show(btn) {
        let ids = ['Magical','Melee','Range','Agility','Education','Animals','Equipment','Other']
        for (let i = 0; i < ids.length; i++) {
            element = document.getElementById(ids[i])
            if (btn.innerHTML==ids[i]){
                element.classList.remove("d-none");
                btn.classList.remove('btn-outline-warning')
                btn.classList.add('btn-outline-primary')         
            }
            else{
                element.classList.add("d-none");
                document.getElementById('top').children[i].classList.remove('btn-outline-primary')
                document.getElementById('top').children[i].classList.add('btn-outline-warning')                
            }
          }
        }
</script>

{% endblock content %}


