<div class="container-fluid">        
        <div class="header-bg bg-gray border-top border-bottom border-warning row">
                <a class="col m-2 btn btn-dark btn-outline-danger" href="{% url 'logout' %}">Logout</a>
                <a id='tb-rules' class="col m-2 btn btn-dark btn-outline-warning" href="">Rules</a>
                <a id='tb-characters' class="col m-2 btn btn-dark btn-outline-warning" href="{% url 'home' %}">Characters</a>

                <!--
                <h1 class="col-5 text-center c-gold fst-italic mt-1">User: {{ user.username|default:'None' }}</h1>
                -->
                
                <a id='tb-gm' class="col m-2 btn btn-dark btn-outline-warning" href="">GM Panel</a>
                <a id='tb-items' class="col m-2 btn btn-dark btn-outline-warning" href="">Items</a>
                <a id='tb-skills' class="col m-2 btn btn-dark btn-outline-warning" href="{% url 'skills' %}">Skills</a>
        </div>
</div>