asgiref==3.6.0
awsebcli==3.20.6
beautifulsoup4==4.12.0
botocore==1.29.99
cement==2.8.2
certifi==2022.12.7
charset-normalizer==2.0.12
colorama==0.4.3
Django==4.1.7
django-appconf==1.0.5
django-bootstrap-v5==1.0.11
django-compressor==4.3.1
django-crispy-forms==2.0
django-libsass==0.9
djangorestframework==3.14.0
idna==3.4
jmespath==1.0.1
libsass==0.22.0
pathspec==0.10.1
Pygments==2.14.0
pypiwin32==223
python-dateutil==2.8.2
pytz==2023.3
pywin32==306
PyYAML==5.4.1
rcssmin==1.1.1
requests==2.26.0
rjsmin==1.2.1
semantic-version==2.8.5
six==1.14.0
soupsieve==2.4
sqlparse==0.4.3
termcolor==1.1.0
tzdata==2022.7
urllib3==1.26.15
wcwidth==0.1.9
