@use "sass:math";

$special_font: 'Kalam';
$background_img: url('https://media.istockphoto.com/id/1308121289/photo/scary-endless-medieval-catacombs-with-torches-mystical-nightmare-concept-3d-rendering.jpg?b=1&s=170667a&w=0&k=20&c=QTa-mYEWyLVC69MZshXLOZa2Y5p6Tu0yDF7VH5KzC78=');
$gray: #2a2a2a;
$gold: goldenrod;

@mixin bg($color: $gray) {
    background-color: $color;
}

@mixin mg-t($value: 5%)
{
    margin-top: $value;
}

@mixin f-size($value: 100%)
{
    font-size: $value;
}

body{
    background: $background_img;
    background-size: cover;
}

.home-btn:hover{
    font-size: 130%;
}

.txt-shadow{
    text-shadow: 4px 3px 2px black;
}

.mg-top-5{
    @include mg-t($value: 5%);
}
.mg-top-10{
    @include mg-t($value: 10%)
}

.ms-6
{
    margin-left: 50%;
}

.f-size-100{
    @include f-size;
}

.f-size-150{
    @include f-size($value: 150%);
}

.f-size-300{
    @include f-size($value: 300%)
}

.center{
    text-align: center;
}

.reg-padding{
    padding: 50%;
}

.header-context{
    font-family: $special_font;
    color: $gold;
    font-size: 300%;
}

.header-bg{
    background-color: $gray;
}

.c-gold{
    color: $gold;
}

.bg-gray{
    @include bg;
}

