$special_font: 'Kalam';
$background_img: url('https://media.istockphoto.com/id/1308121289/photo/scary-endless-medieval-catacombs-with-torches-mystical-nightmare-concept-3d-rendering.jpg?b=1&s=170667a&w=0&k=20&c=QTa-mYEWyLVC69MZshXLOZa2Y5p6Tu0yDF7VH5KzC78=');
$gray: #2a2a2a;

body{
    background: $background_img;
    background-size: cover;
}

.mg-top-10{
    margin-top: 10%;
}

.center{
    text-align: center;
}

.reg-padding{
    padding: 50%;
}

.header-context{
    font-family: $special_font;
    color: goldenrod;
    padding: 1%;
    font-size: 300%;
}

.header-bg{
    background-color: $gray;
}

.home-test{
    color: pink;
    text-align: center;
}