{% extends 'master.html' %}

{% block content %}
{% include 'top_bar.html' %}

<div class="container row">
    {% for value in chosen_character %}
    <div class="container mt-5 col-1 h-25 card-body c-gold border border-warning bg-dark rounded">
        <p><span class="text-white-50 ps-4">INT:</span> {{ value.INT }}</p>
        <p><span class="text-white-50 ps-4">SIŁ:</span> {{ value.SIŁ }}</p>
        <p><span class="text-white-50 ps-4">ZRE:</span> {{ value.ZRE }}</p>
        <p><span class="text-white-50 ps-4">CHAR:</span> {{ value.CHAR }}</p>
        <p><span class="text-white-50 ps-4">CEL:</span> {{ value.CEL }}</p>
    </div>
        <div class="container col-3 mt-1 ms-1 card-body c-gold border border-warning bg-dark rounded">
            <p class="text-center fw-bold">{{ value.name }}</p>
            <p><span class="text-white-50 ps-4">Race:</span> {{ value.race }} ({{ value.size }})</p>
            <p><span class="text-white-50 ps-4">Health:</span> {{ value.HP }}/{{ value.fullHP }}</p>
            <p><span class="text-white-50 ps-4">Helmet:</span> {{ value.Helmet }} <a class="btn btn-sm btn-dark btn-outline-warning" href="">Check</a></p>
            <p><span class="text-white-50 ps-4">Torso:</span> {{ value.Torso }} <a class="btn btn-sm btn-dark btn-outline-warning" href="">Check</a></p>
            <p><span class="text-white-50 ps-4">Gloves:</span> {{ value.Gloves }} <a class="btn btn-sm btn-dark btn-outline-warning" href="">Check</a></p>
            <p><span class="text-white-50 ps-4">Boots:</span> {{ value.Boots }} <a class="btn btn-sm btn-dark btn-outline-warning" href="">Check</a></p>
            <p><span class="text-white-50 ps-4">LeftHand:</span> {{ value.LeftHand }}</p>
            <p><span class="text-white-50 ps-4">RightHand:</span> {{ value.RightHand }}</p>
            <p><span class="text-white-50 ps-4">Side:</span> {{ value.Side }}</p>
        </div>
    <div class="col-4"></div>
    {% endfor %}
</div>

{% endblock content %}