{% extends 'master.html' %}
 {% block content %}
 {% include 'top_bar.html' %}
 
 <div class="container row mt-2">
    <div class="col-4"></div>
        <div class="ms-1 mt-4 ps-5 p-3 col-6 bg-gray border border-warning c-gold rounded text-center">
            <form method='POST'>
            {% csrf_token %}
            {{ form.as_table }}
            <input class="btn btn-dark border border-warning btn-lg w-75 me-4 mt-5 m-1" type="submit" value="Add and continue"></input>
            </form>
        </div>
 </div>
 
 {% endblock content %}