{% extends 'master.html' %}

{% block content %}
{% if user.is_authenticated %}
  <div class="container-fluid bg-gray border-top border-warning row">
      <a class="col-1 m-2 btn btn-dark btn-outline-warning" href="{% url 'logout' %}">Logout</a>
      <a class="col-1 m-2 btn btn-dark btn-outline-warning" href="">Characters</a>

      <h1 class="col-7 text-center c-gold fst-italic mt-1">User: {{ user.username|default:'Guest' }}</h1>

      <a class="col-1 m-2 btn btn-dark btn-outline-warning" href="">Items</a>
      <a class="col-1 m-2 btn btn-dark btn-outline-warning" href="">Skills</a>
  </div>

  {% else %}
    <div class="home-test">
    <div class="d-grid gap-2 col-6 mx-auto mg-top-10">
      <a href="/accounts/login/" class="btn btn-dark btn-outline-warning btn-lg home-btn">Log In</a>

      <a href="signup/" class="btn btn-dark btn-outline-warning btn-lg home-btn">Sign Up</a>
    </div>
    </div>
{% endif %}
{% endblock  %}