<div class="container-fluid bg-gray border-top border-bottom border-warning row">
    <a class="col-1 m-2 btn btn-dark btn-outline-danger" href="{% url 'logout' %}">Logout</a>
    <a class="col-1 m-2 btn btn-dark btn-outline-warning" href="{% url 'home' %}">Characters</a>
    <a class="col-1 m-2 btn btn-dark btn-outline-warning" href="">Test value</a>

    <h1 class="col-5 text-center c-gold fst-italic mt-1">User: {{ user.username|default:'None' }}</h1>

    <a class="col-1 m-2 btn btn-dark btn-outline-warning" href="">Test value</a>
    <a class="col-1 m-2 btn btn-dark btn-outline-warning" href="">Items</a>
    <a class="col-1 m-2 btn btn-dark btn-outline-warning" href="">Skills</a>
</div>