@use "sass:math";

$special_font: 'Kalam';
$background_img: url('https://media.istockphoto.com/id/1308121289/photo/scary-endless-medieval-catacombs-with-torches-mystical-nightmare-concept-3d-rendering.jpg?b=1&s=170667a&w=0&k=20&c=QTa-mYEWyLVC69MZshXLOZa2Y5p6Tu0yDF7VH5KzC78=');
$gray: #2a2a2a;
$gold: goldenrod;

@mixin bg($color: $gray) {
    background-color: $color;
}

@mixin mg-t($value: 5%)
{
    margin-top: $value;
}

@mixin f-size($value: 100%)
{
    font-size: $value;
}

body{
    background: $background_img;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center, center;
}

.body-bg404{
    background: url('https://i.pinimg.com/originals/f4/dc/c3/f4dcc36601f213aec99dfdec25917d33.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center, center;
}

a{
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}

.alert {
    display:inline-block;
}

.home-btn{
    margin-top: 3vh;
}
.home-btn:hover{
    font-size: 130%;
}

.txt-shadow{
    text-shadow: 4px 3px 2px black;
}

.txt-justify{
    text-align: justify;
}

.mg-top-5{
    @include mg-t($value: 5%);
}
.mg-top-10{
    @include mg-t($value: 10%)
}

.ms50{
    margin-left: 20vw;
}

.ms-6
{
    margin-left: 50%;
}

.ms7{
    margin-left: 100%;
}

.w-0{
    width: 0%;
}

.w-10{
    width: 10%;
}

.w-15{
    width: 15%;
}

.w-5v{
    width: 5vw;
}

.w-10v{
    width: 10vw;
}

.w-10vh{
    width: 10vh;
}

.w-15v{
    width: 15vw;
}

.w-15vh{
    width: 15vh;
}

.w-20v{
    width: 20vw;
}

.w-25v{
    width: 25vw;
}


.f-size-100{
    @include f-size;
}

.f-size-150{
    @include f-size($value: 150%);
}

.f-size-300{
    @include f-size($value: 300%)
}

.center{
    text-align: center;
}

.reg-padding{
    padding: 50%;
}

.header-context{
    font-family: $special_font;
    color: $gold;
    font-size: 300%;
}

.title404{
    font-family: 'Lobster';
    color: $gold;
    font-size: 800%;    
}

.header-bg{
    background-color: $gray;
}

.c-gold{
    color: $gold;
}

.bg-gray{
    @include bg;
}

.mgt20{
    margin-top: 20vh;
}