{% if messages %}
    <div class='container'>
        {% for msg in messages %}
        <div class='row'>
            <div class='col'>
                <div id='msg' class="{{ msg.tags }} text-center rounded">
                    {{msg.message}}
                <button onclick="document.getElementById('msg').classList.add('d-none')" type="button" class="m-2 close bg-danger rounded" data-dismiss="alert" aria-hidden="true">Got it!</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}